{"swagger":"2.0","info":{"version":"v1","title":"Moon.Web.Api.Mobile"},"host":"mobile-onestage.smsassist.com","schemes":["https"],"paths":{"/Cah/Account":{"post":{"tags":["Account"],"operationId":"Account_Post","consumes":["application/json","text/json","application/x-www-form-urlencoded","application/xml","text/xml"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"cahUser","in":"body","required":true,"schema":{"$ref":"#/definitions/CahUserModel"}},{"name":"Authorization","in":"header","description":"Token","required":false,"type":"string","default":"bearer 5OW_YWfGbVmN3aHzHOjLul8DXodSBb5t7CKQ2dBxm1aADoiMt9hecUzIDY00-13VT1Ge80fcXAgA8RIxXO8oWhDfRe_AUyFxdFYrR8UEW8q7dWCUbVx4EQIuwG0TiM8k2JoKl5rTjbltzkDbPbnhPriemUlDBC9wF6JRBnJwju-Z_tjTreBaec2PNFmsaDMFvGE_g-5EsHa-0XCPWqtDEouYNXBXd9Dm-3Rtxo0qKliarxpWgfynO-YEq9VqDVlaJPBAI4dcuxd_fGwZcC6ZTqLu6pBNuUv6xbL2XycOrD5Dua8790O0dHMgXJtrtdr83bIZEPOZgIJ3pXFGDLixgyYMdnq-VipFYCIZwSa9f5kGW4huGe9vnQsU2w7GEyulp_-9wnh1nreYbtwxbfK8uzlqQPNL_Lk0Iiwo5XlXLCrZT7tAPoYKFcsyJVTJl_25C6w3wYiBfINhssUIYxuEk0pWGFROStTRBlF7WQnYmZHEu_Gxljc7rD1ww2RFuUkW5LJEgcKQYeGUClAKtTvjs02CTZVUkNwIOcmH1MFUHaE"},{"name":"AppVersion","in":"header","description":"AppVersion","required":false,"type":"string","default":"34"},{"name":"AppName","in":"header","description":"AppName","required":false,"type":"string","default":"SMS ONE"},{"name":"TimeZone","in":"header","description":"TimeZone","required":false,"type":"string","default":"+08"},{"name":"TimeZoneDst","in":"header","description":"TimeZoneDst","required":false,"type":"string","default":"false"},{"name":"MobileType","in":"header","description":"MobileType","required":false,"type":"string","default":"android"},{"name":"OSVersion","in":"header","description":"OSVersion","required":false,"type":"string","default":"5.1"},{"name":"SessionId","in":"header","description":"SessionId","required":false,"type":"string","default":"dev_80000_50011"},{"name":"DeviceModel","in":"header","description":"DeviceModel","required":false,"type":"string","default":"Google Nexus Test 5 - 5.1.0 - API 22 - 1080x1920"},{"name":"Latitude","in":"header","description":"Latitude","required":false,"type":"string","default":"0.0"},{"name":"Longitude","in":"header","description":"Longitude","required":false,"type":"string","default":"0.0"},{"name":"PushToken","in":"header","description":"PushToken","required":false,"type":"string","default":"c7BqcLatWXo:APA91bGPxgcKjWbbKED4ES0lYqsODXM-Z_TNfFTtFg6cDd3NC3COJMRYmp2aXR1s4CqlJ51qJahFd391ynjQ0ParZ3cikwfdYl6id6hznoZUzqd8dXR2Cir-D3pEDIX6g5KOn4XSEGkG"},{"name":"If-None-Match","in":"header","description":"If-None-Match","required":false,"type":"string","default":"EF70EDD2F75BF79E0D3E989A6753EEB0"},{"name":"DeviceToken","in":"header","description":"DeviceToken","required":false,"type":"string","default":"c7BqcLatWXo"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/Cah/ForgotPwd":{"post":{"tags":["Account"],"operationId":"Account_ForgotPwd","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"username","in":"query","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/Cah/Account/userLogin":{"post":{"tags":["Account"],"operationId":"Account_UserLogin","consumes":["application/json","text/json","application/x-www-form-urlencoded","application/xml","text/xml"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/CahUserLogin"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/Cah/Account/Avatar/Change":{"put":{"tags":["Account"],"operationId":"Account_UploadUser","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"logo","in":"query","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"Token","required":false,"type":"string","default":"bearer 5OW_YWfGbVmN3aHzHOjLul8DXodSBb5t7CKQ2dBxm1aADoiMt9hecUzIDY00-13VT1Ge80fcXAgA8RIxXO8oWhDfRe_AUyFxdFYrR8UEW8q7dWCUbVx4EQIuwG0TiM8k2JoKl5rTjbltzkDbPbnhPriemUlDBC9wF6JRBnJwju-Z_tjTreBaec2PNFmsaDMFvGE_g-5EsHa-0XCPWqtDEouYNXBXd9Dm-3Rtxo0qKliarxpWgfynO-YEq9VqDVlaJPBAI4dcuxd_fGwZcC6ZTqLu6pBNuUv6xbL2XycOrD5Dua8790O0dHMgXJtrtdr83bIZEPOZgIJ3pXFGDLixgyYMdnq-VipFYCIZwSa9f5kGW4huGe9vnQsU2w7GEyulp_-9wnh1nreYbtwxbfK8uzlqQPNL_Lk0Iiwo5XlXLCrZT7tAPoYKFcsyJVTJl_25C6w3wYiBfINhssUIYxuEk0pWGFROStTRBlF7WQnYmZHEu_Gxljc7rD1ww2RFuUkW5LJEgcKQYeGUClAKtTvjs02CTZVUkNwIOcmH1MFUHaE"},{"name":"AppVersion","in":"header","description":"AppVersion","required":false,"type":"string","default":"34"},{"name":"AppName","in":"header","description":"AppName","required":false,"type":"string","default":"SMS ONE"},{"name":"TimeZone","in":"header","description":"TimeZone","required":false,"type":"string","default":"+08"},{"name":"TimeZoneDst","in":"header","description":"TimeZoneDst","required":false,"type":"string","default":"false"},{"name":"MobileType","in":"header","description":"MobileType","required":false,"type":"string","default":"android"},{"name":"OSVersion","in":"header","description":"OSVersion","required":false,"type":"string","default":"5.1"},{"name":"SessionId","in":"header","description":"SessionId","required":false,"type":"string","default":"dev_80000_50011"},{"name":"DeviceModel","in":"header","description":"DeviceModel","required":false,"type":"string","default":"Google Nexus Test 5 - 5.1.0 - API 22 - 1080x1920"},{"name":"Latitude","in":"header","description":"Latitude","required":false,"type":"string","default":"0.0"},{"name":"Longitude","in":"header","description":"Longitude","required":false,"type":"string","default":"0.0"},{"name":"PushToken","in":"header","description":"PushToken","required":false,"type":"string","default":"c7BqcLatWXo:APA91bGPxgcKjWbbKED4ES0lYqsODXM-Z_TNfFTtFg6cDd3NC3COJMRYmp2aXR1s4CqlJ51qJahFd391ynjQ0ParZ3cikwfdYl6id6hznoZUzqd8dXR2Cir-D3pEDIX6g5KOn4XSEGkG"},{"name":"If-None-Match","in":"header","description":"If-None-Match","required":false,"type":"string","default":"EF70EDD2F75BF79E0D3E989A6753EEB0"},{"name":"DeviceToken","in":"header","description":"DeviceToken","required":false,"type":"string","default":"c7BqcLatWXo"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}}}},"/api/v1/affiliate/profile":{"get":{"tags":["AffiliateApi"],"operationId":"AffiliateApi_GetAffiliateInfo","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"Authorization","in":"header","description":"Token","required":false,"type":"string","default":"bearer 5OW_YWfGbVmN3aHzHOjLul8DXodSBb5t7CKQ2dBxm1aADoiMt9hecUzIDY00-13VT1Ge80fcXAgA8RIxXO8oWhDfRe_AUyFxdFYrR8UEW8q7dWCUbVx4EQIuwG0TiM8k2JoKl5rTjbltzkDbPbnhPriemUlDBC9wF6JRBnJwju-Z_tjTreBaec2PNFmsaDMFvGE_g-5EsHa-0XCPWqtDEouYNXBXd9Dm-3Rtxo0qKliarxpWgfynO-YEq9VqDVlaJPBAI4dcuxd_fGwZcC6ZTqLu6pBNuUv6xbL2XycOrD5Dua8790O0dHMgXJtrtdr83bIZEPOZgIJ3pXFGDLixgyYMdnq-VipFYCIZwSa9f5kGW4huGe9vnQsU2w7GEyulp_-9wnh1nreYbtwxbfK8uzlqQPNL_Lk0Iiwo5XlXLCrZT7tAPoYKFcsyJVTJl_25C6w3wYiBfINhssUIYxuEk0pWGFROStTRBlF7WQnYmZHEu_Gxljc7rD1ww2RFuUkW5LJEgcKQYeGUClAKtTvjs02CTZVUkNwIOcmH1MFUHaE"},{"name":"AppVersion","in":"header","description":"AppVersion","required":false,"type":"string","default":"34"},{"name":"AppName","in":"header","description":"AppName","required":false,"type":"string","default":"SMS ONE"},{"name":"TimeZone","in":"header","description":"TimeZone","required":false,"type":"string","default":"+08"},{"name":"TimeZoneDst","in":"header","description":"TimeZoneDst","required":false,"type":"string","default":"false"},{"name":"MobileType","in":"header","description":"MobileType","required":false,"type":"string","default":"android"},{"name":"OSVersion","in":"header","description":"OSVersion","required":false,"type":"string","default":"5.1"},{"name":"SessionId","in":"header","description":"SessionId","required":false,"type":"string","default":"dev_80000_50011"},{"name":"DeviceModel","in":"header","description":"DeviceModel","required":false,"type":"string","default":"Google Nexus Test 5 - 5.1.0 - API 22 - 1080x1920"},{"name":"Latitude","in":"header","description":"Latitude","required":false,"type":"string","default":"0.0"},{"name":"Longitude","in":"header","description":"Longitude","required":false,"type":"string","default":"0.0"},{"name":"PushToken","in":"header","description":"PushToken","required":false,"type":"string","default":"c7BqcLatWXo:APA91bGPxgcKjWbbKED4ES0lYqsODXM-Z_TNfFTtFg6cDd3NC3COJMRYmp2aXR1s4CqlJ51qJahFd391ynjQ0ParZ3cikwfdYl6id6hznoZUzqd8dXR2Cir-D3pEDIX6g5KOn4XSEGkG"},{"name":"If-None-Match","in":"header","description":"If-None-Match","required":false,"type":"string","default":"EF70EDD2F75BF79E0D3E989A6753EEB0"},{"name":"DeviceToken","in":"header","description":"DeviceToken","required":false,"type":"string","default":"c7BqcLatWXo"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/v1/affiliate/messages":{"get":{"tags":["AffiliateApi"],"operationId":"AffiliateApi_GetMessages","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"pageIndex","in":"query","required":false,"type":"integer","format":"int32"},{"name":"isSim","in":"query","required":false,"type":"boolean"},{"name":"Authorization","in":"header","description":"Token","required":false,"type":"string","default":"bearer 5OW_YWfGbVmN3aHzHOjLul8DXodSBb5t7CKQ2dBxm1aADoiMt9hecUzIDY00-13VT1Ge80fcXAgA8RIxXO8oWhDfRe_AUyFxdFYrR8UEW8q7dWCUbVx4EQIuwG0TiM8k2JoKl5rTjbltzkDbPbnhPriemUlDBC9wF6JRBnJwju-Z_tjTreBaec2PNFmsaDMFvGE_g-5EsHa-0XCPWqtDEouYNXBXd9Dm-3Rtxo0qKliarxpWgfynO-YEq9VqDVlaJPBAI4dcuxd_fGwZcC6ZTqLu6pBNuUv6xbL2XycOrD5Dua8790O0dHMgXJtrtdr83bIZEPOZgIJ3pXFGDLixgyYMdnq-VipFYCIZwSa9f5kGW4huGe9vnQsU2w7GEyulp_-9wnh1nreYbtwxbfK8uzlqQPNL_Lk0Iiwo5XlXLCrZT7tAPoYKFcsyJVTJl_25C6w3wYiBfINhssUIYxuEk0pWGFROStTRBlF7WQnYmZHEu_Gxljc7rD1ww2RFuUkW5LJEgcKQYeGUClAKtTvjs02CTZVUkNwIOcmH1MFUHaE"},{"name":"AppVersion","in":"header","description":"AppVersion","required":false,"type":"string","default":"34"},{"name":"AppName","in":"header","description":"AppName","required":false,"type":"string","default":"SMS ONE"},{"name":"TimeZone","in":"header","description":"TimeZone","required":false,"type":"string","default":"+08"},{"name":"TimeZoneDst","in":"header","description":"TimeZoneDst","required":false,"type":"string","default":"false"},{"name":"MobileType","in":"header","description":"MobileType","required":false,"type":"string","default":"android"},{"name":"OSVersion","in":"header","description":"OSVersion","required":false,"type":"string","default":"5.1"},{"name":"SessionId","in":"header","description":"SessionId","required":false,"type":"string","default":"dev_80000_50011"},{"name":"DeviceModel","in":"header","description":"DeviceModel","required":false,"type":"string","default":"Google Nexus Test 5 - 5.1.0 - API 22 - 1080x1920"},{"name":"Latitude","in":"header","description":"Latitude","required":false,"type":"string","default":"0.0"},{"name":"Longitude","in":"header","description":"Longitude","required":false,"type":"string","default":"0.0"},{"name":"PushToken","in":"header","description":"PushToken","required":false,"type":"string","default":"c7BqcLatWXo:APA91bGPxgcKjWbbKED4ES0lYqsODXM-Z_TNfFTtFg6cDd3NC3COJMRYmp2aXR1s4CqlJ51qJahFd391ynjQ0ParZ3cikwfdYl6id6hznoZUzqd8dXR2Cir-D3pEDIX6g5KOn4XSEGkG"},{"name":"If-None-Match","in":"header","description":"If-None-Match","required":false,"type":"string","default":"EF70EDD2F75BF79E0D3E989A6753EEB0"},{"name":"DeviceToken","in":"header","description":"DeviceToken","required":false,"type":"string","default":"c7BqcLatWXo"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/v1/affiliate/technicians":{"get":{"tags":["AffiliateApi"],"operationId":"AffiliateApi_GetTechnicians","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"isJpmc","in":"query","required":true,"type":"boolean"},{"name":"Authorization","in":"header","description":"Token","required":false,"type":"string","default":"bearer 5OW_YWfGbVmN3aHzHOjLul8DXodSBb5t7CKQ2dBxm1aADoiMt9hecUzIDY00-13VT1Ge80fcXAgA8RIxXO8oWhDfRe_AUyFxdFYrR8UEW8q7dWCUbVx4EQIuwG0TiM8k2JoKl5rTjbltzkDbPbnhPriemUlDBC9wF6JRBnJwju-Z_tjTreBaec2PNFmsaDMFvGE_g-5EsHa-0XCPWqtDEouYNXBXd9Dm-3Rtxo0qKliarxpWgfynO-YEq9VqDVlaJPBAI4dcuxd_fGwZcC6ZTqLu6pBNuUv6xbL2XycOrD5Dua8790O0dHMgXJtrtdr83bIZEPOZgIJ3pXFGDLixgyYMdnq-VipFYCIZwSa9f5kGW4huGe9vnQsU2w7GEyulp_-9wnh1nreYbtwxbfK8uzlqQPNL_Lk0Iiwo5XlXLCrZT7tAPoYKFcsyJVTJl_25C6w3wYiBfINhssUIYxuEk0pWGFROStTRBlF7WQnYmZHEu_Gxljc7rD1ww2RFuUkW5LJEgcKQYeGUClAKtTvjs02CTZVUkNwIOcmH1MFUHaE"},{"name":"AppVersion","in":"header","description":"AppVersion","required":false,"type":"string","default":"34"},{"name":"AppName","in":"header","description":"AppName","required":false,"type":"string","default":"SMS ONE"},{"name":"TimeZone","in":"header","description":"TimeZone","required":false,"type":"string","default":"+08"},{"name":"TimeZoneDst","in":"header","description":"TimeZoneDst","required":false,"type":"string","default":"false"},{"name":"MobileType","in":"header","description":"MobileType","required":false,"type":"string","default":"android"},{"name":"OSVersion","in":"header","description":"OSVersion","required":false,"type":"string","default":"5.1"},{"name":"SessionId","in":"header","description":"SessionId","required":false,"type":"string","default":"dev_80000_50011"},{"name":"DeviceModel","in":"header","description":"DeviceModel","required":false,"type":"string","default":"Google Nexus Test 5 - 5.1.0 - API 22 - 1080x1920"},{"name":"Latitude","in":"header","description":"Latitude","required":false,"type":"string","default":"0.0"},{"name":"Longitude","in":"header","description":"Longitude","required":false,"type":"string","default":"0.0"},{"name":"PushToken","in":"header","description":"PushToken","required":false,"type":"string","default":"c7BqcLatWXo:APA91bGPxgcKjWbbKED4ES0lYqsODXM-Z_TNfFTtFg6cDd3NC3COJMRYmp2aXR1s4CqlJ51qJahFd391ynjQ0ParZ3cikwfdYl6id6hznoZUzqd8dXR2Cir-D3pEDIX6g5KOn4XSEGkG"},{"name":"If-None-Match","in":"header","description":"If-None-Match","required":false,"type":"string","default":"EF70EDD2F75BF79E0D3E989A6753EEB0"},{"name":"DeviceToken","in":"header","description":"DeviceToken","required":false,"type":"string","default":"c7BqcLatWXo"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/v1/affiliate/customers":{"get":{"tags":["AffiliateApi"],"operationId":"AffiliateApi_GetCustomers","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"Authorization","in":"header","description":"Token","required":false,"type":"string","default":"bearer 5OW_YWfGbVmN3aHzHOjLul8DXodSBb5t7CKQ2dBxm1aADoiMt9hecUzIDY00-13VT1Ge80fcXAgA8RIxXO8oWhDfRe_AUyFxdFYrR8UEW8q7dWCUbVx4EQIuwG0TiM8k2JoKl5rTjbltzkDbPbnhPriemUlDBC9wF6JRBnJwju-Z_tjTreBaec2PNFmsaDMFvGE_g-5EsHa-0XCPWqtDEouYNXBXd9Dm-3Rtxo0qKliarxpWgfynO-YEq9VqDVlaJPBAI4dcuxd_fGwZcC6ZTqLu6pBNuUv6xbL2XycOrD5Dua8790O0dHMgXJtrtdr83bIZEPOZgIJ3pXFGDLixgyYMdnq-VipFYCIZwSa9f5kGW4huGe9vnQsU2w7GEyulp_-9wnh1nreYbtwxbfK8uzlqQPNL_Lk0Iiwo5XlXLCrZT7tAPoYKFcsyJVTJl_25C6w3wYiBfINhssUIYxuEk0pWGFROStTRBlF7WQnYmZHEu_Gxljc7rD1ww2RFuUkW5LJEgcKQYeGUClAKtTvjs02CTZVUkNwIOcmH1MFUHaE"},{"name":"AppVersion","in":"header","description":"AppVersion","required":false,"type":"string","default":"34"},{"name":"AppName","in":"header","description":"AppName","required":false,"type":"string","default":"SMS ONE"},{"name":"TimeZone","in":"header","description":"TimeZone","required":false,"type":"string","default":"+08"},{"name":"TimeZoneDst","in":"header","description":"TimeZoneDst","required":false,"type":"string","default":"false"},{"name":"MobileType","in":"header","description":"MobileType","required":false,"type":"string","default":"android"},{"name":"OSVersion","in":"header","description":"OSVersion","required":false,"type":"string","default":"5.1"},{"name":"SessionId","in":"header","description":"SessionId","required":false,"type":"string","default":"dev_80000_50011"},{"name":"DeviceModel","in":"header","description":"DeviceModel","required":false,"type":"string","default":"Google Nexus Test 5 - 5.1.0 - API 22 - 1080x1920"},{"name":"Latitude","in":"header","description":"Latitude","required":false,"type":"string","default":"0.0"},{"name":"Longitude","in":"header","description":"Longitude","required":false,"type":"string","default":"0.0"},{"name":"PushToken","in":"header","description":"PushToken","required":false,"type":"string","default":"c7BqcLatWXo:APA91bGPxgcKjWbbKED4ES0lYqsODXM-Z_TNfFTtFg6cDd3NC3COJMRYmp2aXR1s4CqlJ51qJahFd391ynjQ0ParZ3cikwfdYl6id6hznoZUzqd8dXR2Cir-D3pEDIX6g5KOn4XSEGkG"},{"name":"If-None-Match","in":"header","description":"If-None-Match","required":false,"type":"string","default":"EF70EDD2F75BF79E0D3E989A6753EEB0"},{"name":"DeviceToken","in":"header","description":"DeviceToken","required":false,"type":"string","default":"c7BqcLatWXo"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/v1/affiliate/serviceCategories":{"get":{"tags":["AffiliateApi"],"operationId":"AffiliateApi_GetServiceCategories","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"Authorization","in":"header","description":"Token","required":false,"type":"string","default":"bearer 5OW_YWfGbVmN3aHzHOjLul8DXodSBb5t7CKQ2dBxm1aADoiMt9hecUzIDY00-13VT1Ge80fcXAgA8RIxXO8oWhDfRe_AUyFxdFYrR8UEW8q7dWCUbVx4EQIuwG0TiM8k2JoKl5rTjbltzkDbPbnhPriemUlDBC9wF6JRBnJwju-Z_tjTreBaec2PNFmsaDMFvGE_g-5EsHa-0XCPWqtDEouYNXBXd9Dm-3Rtxo0qKliarxpWgfynO-YEq9VqDVlaJPBAI4dcuxd_fGwZcC6ZTqLu6pBNuUv6xbL2XycOrD5Dua8790O0dHMgXJtrtdr83bIZEPOZgIJ3pXFGDLixgyYMdnq-VipFYCIZwSa9f5kGW4huGe9vnQsU2w7GEyulp_-9wnh1nreYbtwxbfK8uzlqQPNL_Lk0Iiwo5XlXLCrZT7tAPoYKFcsyJVTJl_25C6w3wYiBfINhssUIYxuEk0pWGFROStTRBlF7WQnYmZHEu_Gxljc7rD1ww2RFuUkW5LJEgcKQYeGUClAKtTvjs02CTZVUkNwIOcmH1MFUHaE"},{"name":"AppVersion","in":"header","description":"AppVersion","required":false,"type":"string","default":"34"},{"name":"AppName","in":"header","description":"AppName","required":false,"type":"string","default":"SMS ONE"},{"name":"TimeZone","in":"header","description":"TimeZone","required":false,"type":"string","default":"+08"},{"name":"TimeZoneDst","in":"header","description":"TimeZoneDst","required":false,"type":"string","default":"false"},{"name":"MobileType","in":"header","description":"MobileType","required":false,"type":"string","default":"android"},{"name":"OSVersion","in":"header","description":"OSVersion","required":false,"type":"string","default":"5.1"},{"name":"SessionId","in":"header","description":"SessionId","required":false,"type":"string","default":"dev_80000_50011"},{"name":"DeviceModel","in":"header","description":"DeviceModel","required":false,"type":"string","default":"Google Nexus Test 5 - 5.1.0 - API 22 - 1080x1920"},{"name":"Latitude","in":"header","description":"Latitude","required":false,"type":"string","default":"0.0"},{"name":"Longitude","in":"header","description":"Longitude","required":false,"type":"string","default":"0.0"},{"name":"PushToken","in":"header","description":"PushToken","required":false,"type":"string","default":"c7BqcLatWXo:APA91bGPxgcKjWbbKED4ES0lYqsODXM-Z_TNfFTtFg6cDd3NC3COJMRYmp2aXR1s4CqlJ51qJahFd391ynjQ0ParZ3cikwfdYl6id6hznoZUzqd8dXR2Cir-D3pEDIX6g5KOn4XSEGkG"},{"name":"If-None-Match","in":"header","description":"If-None-Match","required":false,"type":"string","default":"EF70EDD2F75BF79E0D3E989A6753EEB0"},{"name":"DeviceToken","in":"header","description":"DeviceToken","required":false,"type":"string","default":"c7BqcLatWXo"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/v1/affiliate/invoices":{"get":{"tags":["AffiliateApi"],"operationId":"AffiliateApi_GetInvoice","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"woId","in":"query","required":true,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"Token","required":false,"type":"string","default":"bearer 5OW_YWfGbVmN3aHzHOjLul8DXodSBb5t7CKQ2dBxm1aADoiMt9hecUzIDY00-13VT1Ge80fcXAgA8RIxXO8oWhDfRe_AUyFxdFYrR8UEW8q7dWCUbVx4EQIuwG0TiM8k2JoKl5rTjbltzkDbPbnhPriemUlDBC9wF6JRBnJwju-Z_tjTreBaec2PNFmsaDMFvGE_g-5EsHa-0XCPWqtDEouYNXBXd9Dm-3Rtxo0qKliarxpWgfynO-YEq9VqDVlaJPBAI4dcuxd_fGwZcC6ZTqLu6pBNuUv6xbL2XycOrD5Dua8790O0dHMgXJtrtdr83bIZEPOZgIJ3pXFGDLixgyYMdnq-VipFYCIZwSa9f5kGW4huGe9vnQsU2w7GEyulp_-9wnh1nreYbtwxbfK8uzlqQPNL_Lk0Iiwo5XlXLCrZT7tAPoYKFcsyJVTJl_25C6w3wYiBfINhssUIYxuEk0pWGFROStTRBlF7WQnYmZHEu_Gxljc7rD1ww2RFuUkW5LJEgcKQYeGUClAKtTvjs02CTZVUkNwIOcmH1MFUHaE"},{"name":"AppVersion","in":"header","description":"AppVersion","required":false,"type":"string","default":"34"},{"name":"AppName","in":"header","description":"AppName","required":false,"type":"string","default":"SMS ONE"},{"name":"TimeZone","in":"header","description":"TimeZone","required":false,"type":"string","default":"+08"},{"name":"TimeZoneDst","in":"header","description":"TimeZoneDst","required":false,"type":"string","default":"false"},{"name":"MobileType","in":"header","description":"MobileType","required":false,"type":"string","default":"android"},{"name":"OSVersion","in":"header","description":"OSVersion","required":false,"type":"string","default":"5.1"},{"name":"SessionId","in":"header","description":"SessionId","required":false,"type":"string","default":"dev_80000_50011"},{"name":"DeviceModel","in":"header","description":"DeviceModel","required":false,"type":"string","default":"Google Nexus Test 5 - 5.1.0 - API 22 - 1080x1920"},{"name":"Latitude","in":"header","description":"Latitude","required":false,"type":"string","default":"0.0"},{"name":"Longitude","in":"header","description":"Longitude","required":false,"type":"string","default":"0.0"},{"name":"PushToken","in":"header","description":"PushToken","required":false,"type":"string","default":"c7BqcLatWXo:APA91bGPxgcKjWbbKED4ES0lYqsODXM-Z_TNfFTtFg6cDd3NC3COJMRYmp2aXR1s4CqlJ51qJahFd391ynjQ0ParZ3cikwfdYl6id6hznoZUzqd8dXR2Cir-D3pEDIX6g5KOn4XSEGkG"},{"name":"If-None-Match","in":"header","description":"If-None-Match","required":false,"type":"string","default":"EF70EDD2F75BF79E0D3E989A6753EEB0"},{"name":"DeviceToken","in":"header","description":"DeviceToken","required":false,"type":"string","default":"c7BqcLatWXo"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/AffiliateApi":{"get":{"tags":["AffiliateApi"],"operationId":"AffiliateApi_GetTechnicianInfo","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"technicianId","in":"query","required":true,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"Token","required":false,"type":"string","default":"bearer 5OW_YWfGbVmN3aHzHOjLul8DXodSBb5t7CKQ2dBxm1aADoiMt9hecUzIDY00-13VT1Ge80fcXAgA8RIxXO8oWhDfRe_AUyFxdFYrR8UEW8q7dWCUbVx4EQIuwG0TiM8k2JoKl5rTjbltzkDbPbnhPriemUlDBC9wF6JRBnJwju-Z_tjTreBaec2PNFmsaDMFvGE_g-5EsHa-0XCPWqtDEouYNXBXd9Dm-3Rtxo0qKliarxpWgfynO-YEq9VqDVlaJPBAI4dcuxd_fGwZcC6ZTqLu6pBNuUv6xbL2XycOrD5Dua8790O0dHMgXJtrtdr83bIZEPOZgIJ3pXFGDLixgyYMdnq-VipFYCIZwSa9f5kGW4huGe9vnQsU2w7GEyulp_-9wnh1nreYbtwxbfK8uzlqQPNL_Lk0Iiwo5XlXLCrZT7tAPoYKFcsyJVTJl_25C6w3wYiBfINhssUIYxuEk0pWGFROStTRBlF7WQnYmZHEu_Gxljc7rD1ww2RFuUkW5LJEgcKQYeGUClAKtTvjs02CTZVUkNwIOcmH1MFUHaE"},{"name":"AppVersion","in":"header","description":"AppVersion","required":false,"type":"string","default":"34"},{"name":"AppName","in":"header","description":"AppName","required":false,"type":"string","default":"SMS ONE"},{"name":"TimeZone","in":"header","description":"TimeZone","required":false,"type":"string","default":"+08"},{"name":"TimeZoneDst","in":"header","description":"TimeZoneDst","required":false,"type":"string","default":"false"},{"name":"MobileType","in":"header","description":"MobileType","required":false,"type":"string","default":"android"},{"name":"OSVersion","in":"header","description":"OSVersion","required":false,"type":"string","default":"5.1"},{"name":"SessionId","in":"header","description":"SessionId","required":false,"type":"string","default":"dev_80000_50011"},{"name":"DeviceModel","in":"header","description":"DeviceModel","required":false,"type":"string","default":"Google Nexus Test 5 - 5.1.0 - API 22 - 1080x1920"},{"name":"Latitude","in":"header","description":"Latitude","required":false,"type":"string","default":"0.0"},{"name":"Longitude","in":"header","description":"Longitude","required":false,"type":"string","default":"0.0"},{"name":"PushToken","in":"header","description":"PushToken","required":false,"type":"string","default":"c7BqcLatWXo:APA91bGPxgcKjWbbKED4ES0lYqsODXM-Z_TNfFTtFg6cDd3NC3COJMRYmp2aXR1s4CqlJ51qJahFd391ynjQ0ParZ3cikwfdYl6id6hznoZUzqd8dXR2Cir-D3pEDIX6g5KOn4XSEGkG"},{"name":"If-None-Match","in":"header","description":"If-None-Match","required":false,"type":"string","default":"EF70EDD2F75BF79E0D3E989A6753EEB0"},{"name":"DeviceToken","in":"header","description":"DeviceToken","required":false,"type":"string","default":"c7BqcLatWXo"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"post":{"tags":["AffiliateApi"],"operationId":"AffiliateApi_Track","consumes":["application/json","text/json","application/x-www-form-urlencoded","application/xml","text/xml"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"postData","in":"body","required":true,"schema":{"$ref":"#/definitions/TrackRequest"}},{"name":"Authorization","in":"header","description":"Token","required":false,"type":"string","default":"bearer 5OW_YWfGbVmN3aHzHOjLul8DXodSBb5t7CKQ2dBxm1aADoiMt9hecUzIDY00-13VT1Ge80fcXAgA8RIxXO8oWhDfRe_AUyFxdFYrR8UEW8q7dWCUbVx4EQIuwG0TiM8k2JoKl5rTjbltzkDbPbnhPriemUlDBC9wF6JRBnJwju-Z_tjTreBaec2PNFmsaDMFvGE_g-5EsHa-0XCPWqtDEouYNXBXd9Dm-3Rtxo0qKliarxpWgfynO-YEq9VqDVlaJPBAI4dcuxd_fGwZcC6ZTqLu6pBNuUv6xbL2XycOrD5Dua8790O0dHMgXJtrtdr83bIZEPOZgIJ3pXFGDLixgyYMdnq-VipFYCIZwSa9f5kGW4huGe9vnQsU2w7GEyulp_-9wnh1nreYbtwxbfK8uzlqQPNL_Lk0Iiwo5XlXLCrZT7tAPoYKFcsyJVTJl_25C6w3wYiBfINhssUIYxuEk0pWGFROStTRBlF7WQnYmZHEu_Gxljc7rD1ww2RFuUkW5LJEgcKQYeGUClAKtTvjs02CTZVUkNwIOcmH1MFUHaE"},{"name":"AppVersion","in":"header","description":"AppVersion","required":false,"type":"string","default":"34"},{"name":"AppName","in":"header","description":"AppName","required":false,"type":"string","default":"SMS ONE"},{"name":"TimeZone","in":"header","description":"TimeZone","required":false,"type":"string","default":"+08"},{"name":"TimeZoneDst","in":"header","description":"TimeZoneDst","required":false,"type":"string","default":"false"},{"name":"MobileType","in":"header","description":"MobileType","required":false,"type":"string","default":"android"},{"name":"OSVersion","in":"header","description":"OSVersion","required":false,"type":"string","default":"5.1"},{"name":"SessionId","in":"header","description":"SessionId","required":false,"type":"string","default":"dev_80000_50011"},{"name":"DeviceModel","in":"header","description":"DeviceModel","required":false,"type":"string","default":"Google Nexus Test 5 - 5.1.0 - API 22 - 1080x1920"},{"name":"Latitude","in":"header","description":"Latitude","required":false,"type":"string","default":"0.0"},{"name":"Longitude","in":"header","description":"Longitude","required":false,"type":"string","default":"0.0"},{"name":"PushToken","in":"header","description":"PushToken","required":false,"type":"string","default":"c7BqcLatWXo:APA91bGPxgcKjWbbKED4ES0lYqsODXM-Z_TNfFTtFg6cDd3NC3COJMRYmp2aXR1s4CqlJ51qJahFd391ynjQ0ParZ3cikwfdYl6id6hznoZUzqd8dXR2Cir-D3pEDIX6g5KOn4XSEGkG"},{"name":"If-None-Match","in":"header","description":"If-None-Match","required":false,"type":"string","default":"EF70EDD2F75BF79E0D3E989A6753EEB0"},{"name":"DeviceToken","in":"header","description":"DeviceToken","required":false,"type":"string","default":"c7BqcLatWXo"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/ApiBase":{"post":{"tags":["ApiBase"],"operationId":"ApiBase_VerifyRequestParam","consumes":["application/json","text/json","application/x-www-form-urlencoded","application/xml","text/xml"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"param","in":"query","required":true,"type":"string"},{"name":"verifyResult","in":"body","required":true,"schema":{"$ref":"#/definitions/ApiResultModel"}},{"name":"Authorization","in":"header","description":"Token","required":false,"type":"string","default":"bearer 5OW_YWfGbVmN3aHzHOjLul8DXodSBb5t7CKQ2dBxm1aADoiMt9hecUzIDY00-13VT1Ge80fcXAgA8RIxXO8oWhDfRe_AUyFxdFYrR8UEW8q7dWCUbVx4EQIuwG0TiM8k2JoKl5rTjbltzkDbPbnhPriemUlDBC9wF6JRBnJwju-Z_tjTreBaec2PNFmsaDMFvGE_g-5EsHa-0XCPWqtDEouYNXBXd9Dm-3Rtxo0qKliarxpWgfynO-YEq9VqDVlaJPBAI4dcuxd_fGwZcC6ZTqLu6pBNuUv6xbL2XycOrD5Dua8790O0dHMgXJtrtdr83bIZEPOZgIJ3pXFGDLixgyYMdnq-VipFYCIZwSa9f5kGW4huGe9vnQsU2w7GEyulp_-9wnh1nreYbtwxbfK8uzlqQPNL_Lk0Iiwo5XlXLCrZT7tAPoYKFcsyJVTJl_25C6w3wYiBfINhssUIYxuEk0pWGFROStTRBlF7WQnYmZHEu_Gxljc7rD1ww2RFuUkW5LJEgcKQYeGUClAKtTvjs02CTZVUkNwIOcmH1MFUHaE"},{"name":"AppVersion","in":"header","description":"AppVersion","required":false,"type":"string","default":"34"},{"name":"AppName","in":"header","description":"AppName","required":false,"type":"string","default":"SMS ONE"},{"name":"TimeZone","in":"header","description":"TimeZone","required":false,"type":"string","default":"+08"},{"name":"TimeZoneDst","in":"header","description":"TimeZoneDst","required":false,"type":"string","default":"false"},{"name":"MobileType","in":"header","description":"MobileType","required":false,"type":"string","default":"android"},{"name":"OSVersion","in":"header","description":"OSVersion","required":false,"type":"string","default":"5.1"},{"name":"SessionId","in":"header","description":"SessionId","required":false,"type":"string","default":"dev_80000_50011"},{"name":"DeviceModel","in":"header","description":"DeviceModel","required":false,"type":"string","default":"Google Nexus Test 5 - 5.1.0 - API 22 - 1080x1920"},{"name":"Latitude","in":"header","description":"Latitude","required":false,"type":"string","default":"0.0"},{"name":"Longitude","in":"header","description":"Longitude","required":false,"type":"string","default":"0.0"},{"name":"PushToken","in":"header","description":"PushToken","required":false,"type":"string","default":"c7BqcLatWXo:APA91bGPxgcKjWbbKED4ES0lYqsODXM-Z_TNfFTtFg6cDd3NC3COJMRYmp2aXR1s4CqlJ51qJahFd391ynjQ0ParZ3cikwfdYl6id6hznoZUzqd8dXR2Cir-D3pEDIX6g5KOn4XSEGkG"},{"name":"If-None-Match","in":"header","description":"If-None-Match","required":false,"type":"string","default":"EF70EDD2F75BF79E0D3E989A6753EEB0"},{"name":"DeviceToken","in":"header","description":"DeviceToken","required":false,"type":"string","default":"c7BqcLatWXo"}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}}}}},"/api/v1/asset/BindQrCode":{"post":{"tags":["Asset"],"operationId":"Asset_BindQrCode","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"assetId","in":"query","required":true,"type":"string"},{"name":"QrCode","in":"query","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"Token","required":false,"type":"string","default":"bearer 5OW_YWfGbVmN3aHzHOjLul8DXodSBb5t7CKQ2dBxm1aADoiMt9hecUzIDY00-13VT1Ge80fcXAgA8RIxXO8oWhDfRe_AUyFxdFYrR8UEW8q7dWCUbVx4EQIuwG0TiM8k2JoKl5rTjbltzkDbPbnhPriemUlDBC9wF6JRBnJwju-Z_tjTreBaec2PNFmsaDMFvGE_g-5EsHa-0XCPWqtDEouYNXBXd9Dm-3Rtxo0qKliarxpWgfynO-YEq9VqDVlaJPBAI4dcuxd_fGwZcC6ZTqLu6pBNuUv6xbL2XycOrD5Dua8790O0dHMgXJtrtdr83bIZEPOZgIJ3pXFGDLixgyYMdnq-VipFYCIZwSa9f5kGW4huGe9vnQsU2w7GEyulp_-9wnh1nreYbtwxbfK8uzlqQPNL_Lk0Iiwo5XlXLCrZT7tAPoYKFcsyJVTJl_25C6w3wYiBfINhssUIYxuEk0pWGFROStTRBlF7WQnYmZHEu_Gxljc7rD1ww2RFuUkW5LJEgcKQYeGUClAKtTvjs02CTZVUkNwIOcmH1MFUHaE"},{"name":"AppVersion","in":"header","description":"AppVersion","required":false,"type":"string","default":"34"},{"name":"AppName","in":"header","description":"AppName","required":false,"type":"string","default":"SMS ONE"},{"name":"TimeZone","in":"header","description":"TimeZone","required":false,"type":"string","default":"+08"},{"name":"TimeZoneDst","in":"header","description":"TimeZoneDst","required":false,"type":"string","default":"false"},{"name":"MobileType","in":"header","description":"MobileType","required":false,"type":"string","default":"android"},{"name":"OSVersion","in":"header","description":"OSVersion","required":false,"type":"string","default":"5.1"},{"name":"SessionId","in":"header","description":"SessionId","required":false,"type":"string","default":"dev_80000_50011"},{"name":"DeviceModel","in":"header","description":"DeviceModel","required":false,"type":"string","default":"Google Nexus Test 5 - 5.1.0 - API 22 - 1080x1920"},{"name":"Latitude","in":"header","description":"Latitude","required":false,"type":"string","default":"0.0"},{"name":"Longitude","in":"header","description":"Longitude","required":false,"type":"string","default":"0.0"},{"name":"PushToken","in":"header","description":"PushToken","required":false,"type":"string","default":"c7BqcLatWXo:APA91bGPxgcKjWbbKED4ES0lYqsODXM-Z_TNfFTtFg6cDd3NC3COJMRYmp2aXR1s4CqlJ51qJahFd391ynjQ0ParZ3cikwfdYl6id6hznoZUzqd8dXR2Cir-D3pEDIX6g5KOn4XSEGkG"},{"name":"If-None-Match","in":"header","description":"If-None-Match","required":false,"type":"string","default":"EF70EDD2F75BF79E0D3E989A6753EEB0"},{"name":"DeviceToken","in":"header","description":"DeviceToken","required":false,"type":"string","default":"c7BqcLatWXo"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResultModel"}}}}},"/api/v1/asset/FindAssetByQRCode":{"get":{"tags":["Asset"],"operationId":"Asset_FindAssetByQRCode","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"QrCode","in":"query","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"Token","required":false,"type":"string","default":"bearer 5OW_YWfGbVmN3aHzHOjLul8DXodSBb5t7CKQ2dBxm1aADoiMt9hecUzIDY00-13VT1Ge80fcXAgA8RIxXO8oWhDfRe_AUyFxdFYrR8UEW8q7dWCUbVx4EQIuwG0TiM8k2JoKl5rTjbltzkDbPbnhPriemUlDBC9wF6JRBnJwju-Z_tjTreBaec2PNFmsaDMFvGE_g-5EsHa-0XCPWqtDEouYNXBXd9Dm-3Rtxo0qKliarxpWgfynO-YEq9VqDVlaJPBAI4dcuxd_fGwZcC6ZTqLu6pBNuUv6xbL2XycOrD5Dua8790O0dHMgXJtrtdr83bIZEPOZgIJ3pXFGDLixgyYMdnq-VipFYCIZwSa9f5kGW4huGe9vnQsU2w7GEyulp_-9wnh1nreYbtwxbfK8uzlqQPNL_Lk0Iiwo5XlXLCrZT7tAPoYKFcsyJVTJl_25C6w3wYiBfINhssUIYxuEk0pWGFROStTRBlF7WQnYmZHEu_Gxljc7rD1ww2RFuUkW5LJEgcKQYeGUClAKtTvjs02CTZVUkNwIOcmH1MFUHaE"},{"name":"AppVersion","in":"header","description":"AppVersion","required":false,"type":"string","default":"34"},{"name":"AppName","in":"header","description":"AppName","required":false,"type":"string","default":"SMS ONE"},{"name":"TimeZone","in":"header","description":"TimeZone","required":false,"type":"string","default":"+08"},{"name":"TimeZoneDst","in":"header","description":"TimeZoneDst","required":false,"type":"string","default":"false"},{"name":"MobileType","in":"header","description":"MobileType","required":false,"type":"string","default":"android"},{"name":"OSVersion","in":"header","description":"OSVersion","required":false,"type":"string","default":"5.1"},{"name":"SessionId","in":"header","description":"SessionId","required":false,"type":"string","default":"dev_80000_50011"},{"name":"DeviceModel","in":"header","description":"DeviceModel","required":false,"type":"string","default":"Google Nexus Test 5 - 5.1.0 - API 22 - 1080x1920"},{"name":"Latitude","in":"header","description":"Latitude","required":false,"type":"string","default":"0.0"},{"name":"Longitude","in":"header","description":"Longitude","required":false,"type":"string","default":"0.0"},{"name":"PushToken","in":"header","description":"PushToken","required":false,"type":"string","default":"c7BqcLatWXo:APA91bGPxgcKjWbbKED4ES0lYqsODXM-Z_TNfFTtFg6cDd3NC3COJMRYmp2aXR1s4CqlJ51qJahFd391ynjQ0ParZ3cikwfdYl6id6hznoZUzqd8dXR2Cir-D3pEDIX6g5KOn4XSEGkG"},{"name":"If-None-Match","in":"header","description":"If-None-Match","required":false,"type":"string","default":"EF70EDD2F75BF79E0D3E989A6753EEB0"},{"name":"DeviceToken","in":"header","description":"DeviceToken","required":false,"type":"string","default":"c7BqcLatWXo"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResultModel"}}}}},"/api/v1/asset/CreateLocationAsset":{"post":{"tags":["Asset"],"operationId":"Asset_CreateLocationAsset","consumes":["application/json","text/json","application/x-www-form-urlencoded","application/xml","text/xml"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"putModel","in":"body","required":true,"schema":{"$ref":"#/definitions/PostAssetModel"}},{"name":"Authorization","in":"header","description":"Token","required":false,"type":"string","default":"bearer 5OW_YWfGbVmN3aHzHOjLul8DXodSBb5t7CKQ2dBxm1aADoiMt9hecUzIDY00-13VT1Ge80fcXAgA8RIxXO8oWhDfRe_AUyFxdFYrR8UEW8q7dWCUbVx4EQIuwG0TiM8k2JoKl5rTjbltzkDbPbnhPriemUlDBC9wF6JRBnJwju-Z_tjTreBaec2PNFmsaDMFvGE_g-5EsHa-0XCPWqtDEouYNXBXd9Dm-3Rtxo0qKliarxpWgfynO-YEq9VqDVlaJPBAI4dcuxd_fGwZcC6ZTqLu6pBNuUv6xbL2XycOrD5Dua8790O0dHMgXJtrtdr83bIZEPOZgIJ3pXFGDLixgyYMdnq-VipFYCIZwSa9f5kGW4huGe9vnQsU2w7GEyulp_-9wnh1nreYbtwxbfK8uzlqQPNL_Lk0Iiwo5XlXLCrZT7tAPoYKFcsyJVTJl_25C6w3wYiBfINhssUIYxuEk0pWGFROStTRBlF7WQnYmZHEu_Gxljc7rD1ww2RFuUkW5LJEgcKQYeGUClAKtTvjs02CTZVUkNwIOcmH1MFUHaE"},{"name":"AppVersion","in":"header","description":"AppVersion","required":false,"type":"string","default":"34"},{"name":"AppName","in":"header","description":"AppName","required":false,"type":"string","default":"SMS ONE"},{"name":"TimeZone","in":"header","description":"TimeZone","required":false,"type":"string","default":"+08"},{"name":"TimeZoneDst","in":"header","description":"TimeZoneDst","required":false,"type":"string","default":"false"},{"name":"MobileType","in":"header","description":"MobileType","required":false,"type":"string","default":"android"},{"name":"OSVersion","in":"header","description":"OSVersion","required":false,"type":"string","default":"5.1"},{"name":"SessionId","in":"header","description":"SessionId","required":false,"type":"string","default":"dev_80000_50011"},{"name":"DeviceModel","in":"header","description":"DeviceModel","required":false,"type":"string","default":"Google Nexus Test 5 - 5.1.0 - API 22 - 1080x1920"},{"name":"Latitude","in":"header","description":"Latitude","required":false,"type":"string","default":"0.0"},{"name":"Longitude","in":"header","description":"Longitude","required":false,"type":"string","default":"0.0"},{"name":"PushToken","in":"header","description":"PushToken","required":false,"type":"string","default":"c7BqcLatWXo:APA91bGPxgcKjWbbKED4ES0lYqsODXM-Z_TNfFTtFg6cDd3NC3COJMRYmp2aXR1s4CqlJ51qJahFd391ynjQ0ParZ3cikwfdYl6id6hznoZUzqd8dXR2Cir-D3pEDIX6g5KOn4XSEGkG"},{"name":"If-None-Match","in":"header","description":"If-None-Match","required":false,"type":"string","default":"EF70EDD2F75BF79E0D3E989A6753EEB0"},{"name":"DeviceToken","in":"header","description":"DeviceToken","required":false,"type":"string","default":"c7BqcLatWXo"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResultModel"}}}}},"/api/v1/asset/UpdateLocationAsset":{"post":{"tags":["Asset"],"operationId":"Asset_UpdateLocationAsset","consumes":["application/json","text/json","application/x-www-form-urlencoded","application/xml","text/xml"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"putModel","in":"body","required":true,"schema":{"$ref":"#/definitions/PostAssetModel"}},{"name":"Authorization","in":"header","description":"Token","required":false,"type":"string","default":"bearer 5OW_YWfGbVmN3aHzHOjLul8DXodSBb5t7CKQ2dBxm1aADoiMt9hecUzIDY00-13VT1Ge80fcXAgA8RIxXO8oWhDfRe_AUyFxdFYrR8UEW8q7dWCUbVx4EQIuwG0TiM8k2JoKl5rTjbltzkDbPbnhPriemUlDBC9wF6JRBnJwju-Z_tjTreBaec2PNFmsaDMFvGE_g-5EsHa-0XCPWqtDEouYNXBXd9Dm-3Rtxo0qKliarxpWgfynO-YEq9VqDVlaJPBAI4dcuxd_fGwZcC6ZTqLu6pBNuUv6xbL2XycOrD5Dua8790O0dHMgXJtrtdr83bIZEPOZgIJ3pXFGDLixgyYMdnq-VipFYCIZwSa9f5kGW4huGe9vnQsU2w7GEyulp_-9wnh1nreYbtwxbfK8uzlqQPNL_Lk0Iiwo5XlXLCrZT7tAPoYKFcsyJVTJl_25C6w3wYiBfINhssUIYxuEk0pWGFROStTRBlF7WQnYmZHEu_Gxljc7rD1ww2RFuUkW5LJEgcKQYeGUClAKtTvjs02CTZVUkNwIOcmH1MFUHaE"},{"name":"AppVersion","in":"header","description":"AppVersion","required":false,"type":"string","default":"34"},{"name":"AppName","in":"header","description":"AppName","required":false,"type":"string","default":"SMS ONE"},{"name":"TimeZone","in":"header","description":"TimeZone","required":false,"type":"string","default":"+08"},{"name":"TimeZoneDst","in":"header","description":"TimeZoneDst","required":false,"type":"string","default":"false"},{"name":"MobileType","in":"header","description":"MobileType","required":false,"type":"string","default":"android"},{"name":"OSVersion","in":"header","description":"OSVersion","required":false,"type":"string","default":"5.1"},{"name":"SessionId","in":"header","description":"SessionId","required":false,"type":"string","default":"dev_80000_50011"},{"name":"DeviceModel","in":"header","description":"DeviceModel","required":false,"type":"string","default":"Google Nexus Test 5 - 5.1.0 - API 22 - 1080x1920"},{"name":"Latitude","in":"header","description":"Latitude","required":false,"type":"string","default":"0.0"},{"name":"Longitude","in":"header","description":"Longitude","required":false,"type":"string","default":"0.0"},{"name":"PushToken","in":"header","description":"PushToken","required":false,"type":"string","default":"c7BqcLatWXo:APA91bGPxgcKjWbbKED4ES0lYqsODXM-Z_TNfFTtFg6cDd3NC3COJMRYmp2aXR1s4CqlJ51qJahFd391ynjQ0ParZ3cikwfdYl6id6hznoZUzqd8dXR2Cir-D3pEDIX6g5KOn4XSEGkG"},{"name":"If-None-Match","in":"header","description":"If-None-Match","required":false,"type":"string","default":"EF70EDD2F75BF79E0D3E989A6753EEB0"},{"name":"DeviceToken","in":"header","description":"DeviceToken","required":false,"type":"string","default":"c7BqcLatWXo"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResultModel"}}}}},"/api/v1/asset/DeleteLocationAsset":{"get":{"tags":["Asset"],"operationId":"Asset_DeleteLocationAsset","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"locationAssetId","in":"query","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"Token","required":false,"type":"string","default":"bearer 5OW_YWfGbVmN3aHzHOjLul8DXodSBb5t7CKQ2dBxm1aADoiMt9hecUzIDY00-13VT1Ge80fcXAgA8RIxXO8oWhDfRe_AUyFxdFYrR8UEW8q7dWCUbVx4EQIuwG0TiM8k2JoKl5rTjbltzkDbPbnhPriemUlDBC9wF6JRBnJwju-Z_tjTreBaec2PNFmsaDMFvGE_g-5EsHa-0XCPWqtDEouYNXBXd9Dm-3Rtxo0qKliarxpWgfynO-YEq9VqDVlaJPBAI4dcuxd_fGwZcC6ZTqLu6pBNuUv6xbL2XycOrD5Dua8790O0dHMgXJtrtdr83bIZEPOZgIJ3pXFGDLixgyYMdnq-VipFYCIZwSa9f5kGW4huGe9vnQsU2w7GEyulp_-9wnh1nreYbtwxbfK8uzlqQPNL_Lk0Iiwo5XlXLCrZT7tAPoYKFcsyJVTJl_25C6w3wYiBfINhssUIYxuEk0pWGFROStTRBlF7WQnYmZHEu_Gxljc7rD1ww2RFuUkW5LJEgcKQYeGUClAKtTvjs02CTZVUkNwIOcmH1MFUHaE"},{"name":"AppVersion","in":"header","description":"AppVersion","required":false,"type":"string","default":"34"},{"name":"AppName","in":"header","description":"AppName","required":false,"type":"string","default":"SMS ONE"},{"name":"TimeZone","in":"header","description":"TimeZone","required":false,"type":"string","default":"+08"},{"name":"TimeZoneDst","in":"header","description":"TimeZoneDst","required":false,"type":"string","default":"false"},{"name":"MobileType","in":"header","description":"MobileType","required":false,"type":"string","default":"android"},{"name":"OSVersion","in":"header","description":"OSVersion","required":false,"type":"string","default":"5.1"},{"name":"SessionId","in":"header","description":"SessionId","required":false,"type":"string","default":"dev_80000_50011"},{"name":"DeviceModel","in":"header","description":"DeviceModel","required":false,"type":"string","default":"Google Nexus Test 5 - 5.1.0 - API 22 - 1080x1920"},{"name":"Latitude","in":"header","description":"Latitude","required":false,"type":"string","default":"0.0"},{"name":"Longitude","in":"header","description":"Longitude","required":false,"type":"string","default":"0.0"},{"name":"PushToken","in":"header","description":"PushToken","required":false,"type":"string","default":"c7BqcLatWXo:APA91bGPxgcKjWbbKED4ES0lYqsODXM-Z_TNfFTtFg6cDd3NC3COJMRYmp2aXR1s4CqlJ51qJahFd391ynjQ0ParZ3cikwfdYl6id6hznoZUzqd8dXR2Cir-D3pEDIX6g5KOn4XSEGkG"},{"name":"If-None-Match","in":"header","description":"If-None-Match","required":false,"type":"string","default":"EF70EDD2F75BF79E0D3E989A6753EEB0"},{"name":"DeviceToken","in":"header","description":"DeviceToken","required":false,"type":"string","default":"c7BqcLatWXo"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResultModel"}}}}},"/api/v1/asset/SearchAssetList":{"post":{"tags":["Asset"],"operationId":"Asset_SearchAssetList","consumes":["application/json","text/json","application/x-www-form-urlencoded","application/xml","text/xml"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"clientQueryModel","in":"body","required":true,"schema":{"$ref":"#/definitions/AppAssetQuery"}},{"name":"Authorization","in":"header","description":"Token","required":false,"type":"string","default":"bearer 5OW_YWfGbVmN3aHzHOjLul8DXodSBb5t7CKQ2dBxm1aADoiMt9hecUzIDY00-13VT1Ge80fcXAgA8RIxXO8oWhDfRe_AUyFxdFYrR8UEW8q7dWCUbVx4EQIuwG0TiM8k2JoKl5rTjbltzkDbPbnhPriemUlDBC9wF6JRBnJwju-Z_tjTreBaec2PNFmsaDMFvGE_g-5EsHa-0XCPWqtDEouYNXBXd9Dm-3Rtxo0qKliarxpWgfynO-YEq9VqDVlaJPBAI4dcuxd_fGwZcC6ZTqLu6pBNuUv6xbL2XycOrD5Dua8790O0dHMgXJtrtdr83bIZEPOZgIJ3pXFGDLixgyYMdnq-VipFYCIZwSa9f5kGW4huGe9vnQsU2w7GEyulp_-9wnh1nreYbtwxbfK8uzlqQPNL_Lk0Iiwo5XlXLCrZT7tAPoYKFcsyJVTJl_25C6w3wYiBfINhssUIYxuEk0pWGFROStTRBlF7WQnYmZHEu_Gxljc7rD1ww2RFuUkW5LJEgcKQYeGUClAKtTvjs02CTZVUkNwIOcmH1MFUHaE"},{"name":"AppVersion","in":"header","description":"AppVersion","required":false,"type":"string","default":"34"},{"name":"AppName","in":"header","description":"AppName","required":false,"type":"string","default":"SMS ONE"},{"name":"TimeZone","in":"header","description":"TimeZone","required":false,"type":"string","default":"+08"},{"name":"TimeZoneDst","in":"header","description":"TimeZoneDst","required":false,"type":"string","default":"false"},{"name":"MobileType","in":"header","description":"MobileType","required":false,"type":"string","default":"android"},{"name":"OSVersion","in":"header","description":"OSVersion","required":false,"type":"string","default":"5.1"},{"name":"SessionId","in":"header","description":"SessionId","required":false,"type":"string","default":"dev_80000_50011"},{"name":"DeviceModel","in":"header","description":"DeviceModel","required":false,"type":"string","default":"Google Nexus Test 5 - 5.1.0 - API 22 - 1080x1920"},{"name":"Latitude","in":"header","description":"Latitude","required":false,"type":"string","default":"0.0"},{"name":"Longitude","in":"header","description":"Longitude","required":false,"type":"string","default":"0.0"},{"name":"PushToken","in":"header","description":"PushToken","required":false,"type":"string","default":"c7BqcLatWXo:APA91bGPxgcKjWbbKED4ES0lYqsODXM-Z_TNfFTtFg6cDd3NC3COJMRYmp2aXR1s4CqlJ51qJahFd391ynjQ0ParZ3cikwfdYl6id6hznoZUzqd8dXR2Cir-D3pEDIX6g5KOn4XSEGkG"},{"name":"If-None-Match","in":"header","description":"If-None-Match","required":false,"type":"string","default":"EF70EDD2F75BF79E0D3E989A6753EEB0"},{"name":"DeviceToken","in":"header","description":"DeviceToken","required":false,"type":"string","default":"c7BqcLatWXo"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResultModel"}}}}},"/api/v1/asset/GetLocationAsset":{"get":{"tags":["Asset"],"operationId":"Asset_GetLocationAsset","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"assetId","in":"query","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"Token","required":false,"type":"string","default":"bearer 5OW_YWfGbVmN3aHzHOjLul8DXodSBb5t7CKQ2dBxm1aADoiMt9hecUzIDY00-13VT1Ge80fcXAgA8RIxXO8oWhDfRe_AUyFxdFYrR8UEW8q7dWCUbVx4EQIuwG0TiM8k2JoKl5rTjbltzkDbPbnhPriemUlDBC9wF6JRBnJwju-Z_tjTreBaec2PNFmsaDMFvGE_g-5EsHa-0XCPWqtDEouYNXBXd9Dm-3Rtxo0qKliarxpWgfynO-YEq9VqDVlaJPBAI4dcuxd_fGwZcC6ZTqLu6pBNuUv6xbL2XycOrD5Dua8790O0dHMgXJtrtdr83bIZEPOZgIJ3pXFGDLixgyYMdnq-VipFYCIZwSa9f5kGW4huGe9vnQsU2w7GEyulp_-9wnh1nreYbtwxbfK8uzlqQPNL_Lk0Iiwo5XlXLCrZT7tAPoYKFcsyJVTJl_25C6w3wYiBfINhssUIYxuEk0pWGFROStTRBlF7WQnYmZHEu_Gxljc7rD1ww2RFuUkW5LJEgcKQYeGUClAKtTvjs02CTZVUkNwIOcmH1MFUHaE"},{"name":"AppVersion","in":"header","description":"AppVersion","required":false,"type":"string","default":"34"},{"name":"AppName","in":"header","description":"AppName","required":false,"type":"string","default":"SMS ONE"},{"name":"TimeZone","in":"header","description":"TimeZone","required":false,"type":"string","default":"+08"},{"name":"TimeZoneDst","in":"header","description":"TimeZoneDst","required":false,"type":"string","default":"false"},{"name":"MobileType","in":"header","description":"MobileType","required":false,"type":"string","default":"android"},{"name":"OSVersion","in":"header","description":"OSVersion","required":false,"type":"string","default":"5.1"},{"name":"SessionId","in":"header","description":"SessionId","required":false,"type":"string","default":"dev_80000_50011"},{"name":"DeviceModel","in":"header","description":"DeviceModel","required":false,"type":"string","default":"Google Nexus Test 5 - 5.1.0 - API 22 - 1080x1920"},{"name":"Latitude","in":"header","description":"Latitude","required":false,"type":"string","default":"0.0"},{"name":"Longitude","in":"header","description":"Longitude","required":false,"type":"string","default":"0.0"},{"name":"PushToken","in":"header","description":"PushToken","required":false,"type":"string","default":"c7BqcLatWXo:APA91bGPxgcKjWbbKED4ES0lYqsODXM-Z_TNfFTtFg6cDd3NC3COJMRYmp2aXR1s4CqlJ51qJahFd391ynjQ0ParZ3cikwfdYl6id6hznoZUzqd8dXR2Cir-D3pEDIX6g5KOn4XSEGkG"},{"name":"If-None-Match","in":"header","description":"If-None-Match","required":false,"type":"string","default":"EF70EDD2F75BF79E0D3E989A6753EEB0"},{"name":"DeviceToken","in":"header","description":"DeviceToken","required":false,"type":"string","default":"c7BqcLatWXo"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResultModel"}}}}},"/api/v1/asset/GetLocationAssetList":{"get":{"tags":["Asset"],"operationId":"Asset_GetLocationAssetList","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"locationId","in":"query","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"Token","required":false,"type":"string","default":"bearer 5OW_YWfGbVmN3aHzHOjLul8DXodSBb5t7CKQ2dBxm1aADoiMt9hecUzIDY00-13VT1Ge80fcXAgA8RIxXO8oWhDfRe_AUyFxdFYrR8UEW8q7dWCUbVx4EQIuwG0TiM8k2JoKl5rTjbltzkDbPbnhPriemUlDBC9wF6JRBnJwju-Z_tjTreBaec2PNFmsaDMFvGE_g-5EsHa-0XCPWqtDEouYNXBXd9Dm-3Rtxo0qKliarxpWgfynO-YEq9VqDVlaJPBAI4dcuxd_fGwZcC6ZTqLu6pBNuUv6xbL2XycOrD5Dua8790O0dHMgXJtrtdr83bIZEPOZgIJ3pXFGDLixgyYMdnq-VipFYCIZwSa9f5kGW4huGe9vnQsU2w7GEyulp_-9wnh1nreYbtwxbfK8uzlqQPNL_Lk0Iiwo5XlXLCrZT7tAPoYKFcsyJVTJl_25C6w3wYiBfINhssUIYxuEk0pWGFROStTRBlF7WQnYmZHEu_Gxljc7rD1ww2RFuUkW5LJEgcKQYeGUClAKtTvjs02CTZVUkNwIOcmH1MFUHaE"},{"name":"AppVersion","in":"header","description":"AppVersion","required":false,"type":"string","default":"34"},{"name":"AppName","in":"header","description":"AppName","required":false,"type":"string","default":"SMS ONE"},{"name":"TimeZone","in":"header","description":"TimeZone","required":false,"type":"string","default":"+08"},{"name":"TimeZoneDst","in":"header","description":"TimeZoneDst","required":false,"type":"string","default":"false"},{"name":"MobileType","in":"header","description":"MobileType","required":false,"type":"string","default":"android"},{"name":"OSVersion","in":"header","description":"OSVersion","required":false,"type":"string","default":"5.1"},{"name":"SessionId","in":"header","description":"SessionId","required":false,"type":"string","default":"dev_80000_50011"},{"name":"DeviceModel","in":"header","description":"DeviceModel","required":false,"type":"string","default":"Google Nexus Test 5 - 5.1.0 - API 22 - 1080x1920"},{"name":"Latitude","in":"header","description":"Latitude","required":false,"type":"string","default":"0.0"},{"name":"Longitude","in":"header","description":"Longitude","required":false,"type":"string","default":"0.0"},{"name":"PushToken","in":"header","description":"PushToken","required":false,"type":"string","default":"c7BqcLatWXo:APA91bGPxgcKjWbbKED4ES0lYqsODXM-Z_TNfFTtFg6cDd3NC3COJMRYmp2aXR1s4CqlJ51qJahFd391ynjQ0ParZ3cikwfdYl6id6hznoZUzqd8dXR2Cir-D3pEDIX6g5KOn4XSEGkG"},{"name":"If-None-Match","in":"header","description":"If-None-Match","required":false,"type":"string","default":"EF70EDD2F75BF79E0D3E989A6753EEB0"},{"name":"DeviceToken","in":"header","description":"DeviceToken","required":false,"type":"string","default":"c7BqcLatWXo"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResultModel"}}}}},"/api/v1/asset/GetLocationAssetListNew":{"get":{"tags":["Asset"],"operationId":"Asset_GetLocationAssetListNew","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"locationId","in":"query","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"Token","required":false,"type":"string","default":"bearer 5OW_YWfGbVmN3aHzHOjLul8DXodSBb5t7CKQ2dBxm1aADoiMt9hecUzIDY00-13VT1Ge80fcXAgA8RIxXO8oWhDfRe_AUyFxdFYrR8UEW8q7dWCUbVx4EQIuwG0TiM8k2JoKl5rTjbltzkDbPbnhPriemUlDBC9wF6JRBnJwju-Z_tjTreBaec2PNFmsaDMFvGE_g-5EsHa-0XCPWqtDEouYNXBXd9Dm-3Rtxo0qKliarxpWgfynO-YEq9VqDVlaJPBAI4dcuxd_fGwZcC6ZTqLu6pBNuUv6xbL2XycOrD5Dua8790O0dHMgXJtrtdr83bIZEPOZgIJ3pXFGDLixgyYMdnq-VipFYCIZwSa9f5kGW4huGe9vnQsU2w7GEyulp_-9wnh1nreYbtwxbfK8uzlqQPNL_Lk0Iiwo5XlXLCrZT7tAPoYKFcsyJVTJl_25C6w3wYiBfINhssUIYxuEk0pWGFROStTRBlF7WQnYmZHEu_Gxljc7rD1ww2RFuUkW5LJEgcKQYeGUClAKtTvjs02CTZVUkNwIOcmH1MFUHaE"},{"name":"AppVersion","in":"header","description":"AppVersion","required":false,"type":"string","default":"34"},{"name":"AppName","in":"header","description":"AppName","required":false,"type":"string","default":"SMS ONE"},{"name":"TimeZone","in":"header","description":"TimeZone","required":false,"type":"string","default":"+08"},{"name":"TimeZoneDst","in":"header","description":"TimeZoneDst","required":false,"type":"string","default":"false"},{"name":"MobileType","in":"header","description":"MobileType","required":false,"type":"string","default":"android"},{"name":"OSVersion","in":"header","description":"OSVersion","required":false,"type":"string","default":"5.1"},{"name":"SessionId","in":"header","description":"SessionId","required":false,"type":"string","default":"dev_80000_50011"},{"name":"DeviceModel","in":"header","description":"DeviceModel","required":false,"type":"string","default":"Google Nexus Test 5 - 5.1.0 - API 22 - 1080x1920"},{"name":"Latitude","in":"header","description":"Latitude","required":false,"type":"string","default":"0.0"},{"name":"Longitude","in":"header","description":"Longitude","required":false,"type":"string","default":"0.0"},{"name":"PushToken","in":"header","description":"PushToken","required":false,"type":"string","default":"c7BqcLatWXo:APA91bGPxgcKjWbbKED4ES0lYqsODXM-Z_TNfFTtFg6cDd3NC3COJMRYmp2aXR1s4CqlJ51qJahFd391ynjQ0ParZ3cikwfdYl6id6hznoZUzqd8dXR2Cir-D3pEDIX6g5KOn4XSEGkG"},{"name":"If-None-Match","in":"header","description":"If-None-Match","required":false,"type":"string","default":"EF70EDD2F75BF79E0D3E989A6753EEB0"},{"name":"DeviceToken","in":"header","description":"DeviceToken","required":false,"type":"string","default":"c7BqcLatWXo"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResultModel"}}}}},"/api/v1/asset/GetLocationAssetNameList":{"get":{"tags":["Asset"],"operationId":"Asset_GetLocationAssetNameList","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"locationId","in":"query","required":true,"type":"string"},{"name":"serviceCategoryId","in":"query","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"Token","required":false,"type":"string","default":"bearer 5OW_YWfGbVmN3aHzHOjLul8DXodSBb5t7CKQ2dBxm1aADoiMt9hecUzIDY00-13VT1Ge80fcXAgA8RIxXO8oWhDfRe_AUyFxdFYrR8UEW8q7dWCUbVx4EQIuwG0TiM8k2JoKl5rTjbltzkDbPbnhPriemUlDBC9wF6JRBnJwju-Z_tjTreBaec2PNFmsaDMFvGE_g-5EsHa-0XCPWqtDEouYNXBXd9Dm-3Rtxo0qKliarxpWgfynO-YEq9VqDVlaJPBAI4dcuxd_fGwZcC6ZTqLu6pBNuUv6xbL2XycOrD5Dua8790O0dHMgXJtrtdr83bIZEPOZgIJ3pXFGDLixgyYMdnq-VipFYCIZwSa9f5kGW4huGe9vnQsU2w7GEyulp_-9wnh1nreYbtwxbfK8uzlqQPNL_Lk0Iiwo5XlXLCrZT7tAPoYKFcsyJVTJl_25C6w3wYiBfINhssUIYxuEk0pWGFROStTRBlF7WQnYmZHEu_Gxljc7rD1ww2RFuUkW5LJEgcKQYeGUClAKtTvjs02CTZVUkNwIOcmH1MFUHaE"},{"name":"AppVersion","in":"header","description":"AppVersion","required":false,"type":"string","default":"34"},{"name":"AppName","in":"header","description":"AppName","required":false,"type":"string","default":"SMS ONE"},{"name":"TimeZone","in":"header","description":"TimeZone","required":false,"type":"string","default":"+08"},{"name":"TimeZoneDst","in":"header","description":"TimeZoneDst","required":false,"type":"string","default":"false"},{"name":"MobileType","in":"header","description":"MobileType","required":false,"type":"string","default":"android"},{"name":"OSVersion","in":"header","description":"OSVersion","required":false,"type":"string","default":"5.1"},{"name":"SessionId","in":"header","description":"SessionId","required":false,"type":"string","default":"dev_80000_50011"},{"name":"DeviceModel","in":"header","description":"DeviceModel","required":false,"type":"string","default":"Google Nexus Test 5 - 5.1.0 - API 22 - 1080x1920"},{"name":"Latitude","in":"header","description":"Latitude","required":false,"type":"string","default":"0.0"},{"name":"Longitude","in":"header","description":"Longitude","required":false,"type":"string","default":"0.0"},{"name":"PushToken","in":"header","description":"PushToken","required":false,"type":"string","default":"c7BqcLatWXo:APA91bGPxgcKjWbbKED4ES0lYqsODXM-Z_TNfFTtFg6cDd3NC3COJMRYmp2aXR1s4CqlJ51qJahFd391ynjQ0ParZ3cikwfdYl6id6hznoZUzqd8dXR2Cir-D3pEDIX6g5KOn4XSEGkG"},{"name":"If-None-Match","in":"header","description":"If-None-Match","required":false,"type":"string","default":"EF70EDD2F75BF79E0D3E989A6753EEB0"},{"name":"DeviceToken","in":"header","description":"DeviceToken","required":false,"type":"string","default":"c7BqcLatWXo"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResultModel"}}}}},"/api/v1/asset/AssetQuestion":{"get":{"tags":["Asset"],"operationId":"Asset_AssetQuestion","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"locationId","in":"query","required":true,"type":"string"},{"name":"serviceCategoryId","in":"query","required":true,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"Token","required":false,"type":"string","default":"bearer 5OW_YWfGbVmN3aHzHOjLul8DXodSBb5t7CKQ2dBxm1aADoiMt9hecUzIDY00-13VT1Ge80fcXAgA8RIxXO8oWhDfRe_AUyFxdFYrR8UEW8q7dWCUbVx4EQIuwG0TiM8k2JoKl5rTjbltzkDbPbnhPriemUlDBC9wF6JRBnJwju-Z_tjTreBaec2PNFmsaDMFvGE_g-5EsHa-0XCPWqtDEouYNXBXd9Dm-3Rtxo0qKliarxpWgfynO-YEq9VqDVlaJPBAI4dcuxd_fGwZcC6ZTqLu6pBNuUv6xbL2XycOrD5Dua8790O0dHMgXJtrtdr83bIZEPOZgIJ3pXFGDLixgyYMdnq-VipFYCIZwSa9f5kGW4huGe9vnQsU2w7GEyulp_-9wnh1nreYbtwxbfK8uzlqQPNL_Lk0Iiwo5XlXLCrZT7tAPoYKFcsyJVTJl_25C6w3wYiBfINhssUIYxuEk0pWGFROStTRBlF7WQnYmZHEu_Gxljc7rD1ww2RFuUkW5LJEgcKQYeGUClAKtTvjs02CTZVUkNwIOcmH1MFUHaE"},{"name":"AppVersion","in":"header","description":"AppVersion","required":false,"type":"string","default":"34"},{"name":"AppName","in":"header","description":"AppName","required":false,"type":"string","default":"SMS ONE"},{"name":"TimeZone","in":"header","description":"TimeZone","required":false,"type":"string","default":"+08"},{"name":"TimeZoneDst","in":"header","description":"TimeZoneDst","required":false,"type":"string","default":"false"},{"name":"MobileType","in":"header","description":"MobileType","required":false,"type":"string","default":"android"},{"name":"OSVersion","in":"header","description":"OSVersion","required":false,"type":"string","default":"5.1"},{"name":"SessionId","in":"header","description":"SessionId","required":false,"type":"string","default":"dev_80000_50011"},{"name":"DeviceModel","in":"header","description":"DeviceModel","required":false,"type":"string","default":"Google Nexus Test 5 - 5.1.0 - API 22 - 1080x1920"},{"name":"Latitude","in":"header","description":"Latitude","required":false,"type":"string","default":"0.0"},{"name":"Longitude","in":"header","description":"Longitude","required":false,"type":"string","default":"0.0"},{"name":"PushToken","in":"header","description":"PushToken","required":false,"type":"string","default":"c7BqcLatWXo:APA91bGPxgcKjWbbKED4ES0lYqsODXM-Z_TNfFTtFg6cDd3NC3COJMRYmp2aXR1s4CqlJ51qJahFd391ynjQ0ParZ3cikwfdYl6id6hznoZUzqd8dXR2Cir-D3pEDIX6g5KOn4XSEGkG"},{"name":"If-None-Match","in":"header","description":"If-None-Match","required":false,"type":"string","default":"EF70EDD2F75BF79E0D3E989A6753EEB0"},{"name":"DeviceToken","in":"header","description":"DeviceToken","required":false,"type":"string","default":"c7BqcLatWXo"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResultModel"}}}}},"/api/v1/asset/SearchLocationAssetModelNum":{"get":{"tags":["Asset"],"operationId":"Asset_SearchLocationAssetModelNum","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"query","in":"query","required":false,"type":"string"},{"name":"pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"clientId","in":"query","required":false,"type":"string"},{"name":"serviceCategoryId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"Token","required":false,"type":"string","default":"bearer 5OW_YWfGbVmN3aHzHOjLul8DXodSBb5t7CKQ2dBxm1aADoiMt9hecUzIDY00-13VT1Ge80fcXAgA8RIxXO8oWhDfRe_AUyFxdFYrR8UEW8q7dWCUbVx4EQIuwG0TiM8k2JoKl5rTjbltzkDbPbnhPriemUlDBC9wF6JRBnJwju-Z_tjTreBaec2PNFmsaDMFvGE_g-5EsHa-0XCPWqtDEouYNXBXd9Dm-3Rtxo0qKliarxpWgfynO-YEq9VqDVlaJPBAI4dcuxd_fGwZcC6ZTqLu6pBNuUv6xbL2XycOrD5Dua8790O0dHMgXJtrtdr83bIZEPOZgIJ3pXFGDLixgyYMdnq-VipFYCIZwSa9f5kGW4huGe9vnQsU2w7GEyulp_-9wnh1nreYbtwxbfK8uzlqQPNL_Lk0Iiwo5XlXLCrZT7tAPoYKFcsyJVTJl_25C6w3wYiBfINhssUIYxuEk0pWGFROStTRBlF7WQnYmZHEu_Gxljc7rD1ww2RFuUkW5LJEgcKQYeGUClAKtTvjs02CTZVUkNwIOcmH1MFUHaE"},{"name":"AppVersion","in":"header","description":"AppVersion","required":false,"type":"string","default":"34"},{"name":"AppName","in":"header","description":"AppName","required":false,"type":"string","default":"SMS ONE"},{"name":"TimeZone","in":"header","description":"TimeZone","required":false,"type":"string","default":"+08"},{"name":"TimeZoneDst","in":"header","description":"TimeZoneDst","required":false,"type":"string","default":"false"},{"name":"MobileType","in":"header","description":"MobileType","required":false,"type":"string","default":"android"},{"name":"OSVersion","in":"header","description":"OSVersion","required":false,"type":"string","default":"5.1"},{"name":"SessionId","in":"header","description":"SessionId","required":false,"type":"string","default":"dev_80000_50011"},{"name":"DeviceModel","in":"header","description":"DeviceModel","required":false,"type":"string","default":"Google Nexus Test 5 - 5.1.0 - API 22 - 1080x1920"},{"name":"Latitude","in":"header","description":"Latitude","required":false,"type":"string","default":"0.0"},{"name":"Longitude","in":"header","description":"Longitude","required":false,"type":"string","default":"0.0"},{"name":"PushToken","in":"header","description":"PushToken","required":false,"type":"string","default":"c7BqcLatWXo:APA91bGPxgcKjWbbKED4ES0lYqsODXM-Z_TNfFTtFg6cDd3NC3COJMRYmp2aXR1s4CqlJ51qJahFd391ynjQ0ParZ3cikwfdYl6id6hznoZUzqd8dXR2Cir-D3pEDIX6g5KOn4XSEGkG"},{"name":"If-None-Match","in":"header","description":"If-None-Match","required":false,"type":"string","default":"EF70EDD2F75BF79E0D3E989A6753EEB0"},{"name":"DeviceToken","in":"header","description":"DeviceToken","required":false,"type":"string","default":"c7BqcLatWXo"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResultModel"}}}}},"/api/v1/asset/SearchLocationAssetEquipmentType":{"get":{"tags":["Asset"],"operationId":"Asset_SearchLocationAssetEquipmentType","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"query","in":"query","required":false,"type":"string"},{"name":"pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"clientId","in":"query","required":false,"type":"string"},{"name":"serviceCategoryId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"Token","required":false,"type":"string","default":"bearer 5OW_YWfGbVmN3aHzHOjLul8DXodSBb5t7CKQ2dBxm1aADoiMt9hecUzIDY00-13VT1Ge80fcXAgA8RIxXO8oWhDfRe_AUyFxdFYrR8UEW8q7dWCUbVx4EQIuwG0TiM8k2JoKl5rTjbltzkDbPbnhPriemUlDBC9wF6JRBnJwju-Z_tjTreBaec2PNFmsaDMFvGE_g-5EsHa-0XCPWqtDEouYNXBXd9Dm-3Rtxo0qKliarxpWgfynO-YEq9VqDVlaJPBAI4dcuxd_fGwZcC6ZTqLu6pBNuUv6xbL2XycOrD5Dua8790O0dHMgXJtrtdr83bIZEPOZgIJ3pXFGDLixgyYMdnq-VipFYCIZwSa9f5kGW4huGe9vnQsU2w7GEyulp_-9wnh1nreYbtwxbfK8uzlqQPNL_Lk0Iiwo5XlXLCrZT7tAPoYKFcsyJVTJl_25C6w3wYiBfINhssUIYxuEk0pWGFROStTRBlF7WQnYmZHEu_Gxljc7rD1ww2RFuUkW5LJEgcKQYeGUClAKtTvjs02CTZVUkNwIOcmH1MFUHaE"},{"name":"AppVersion","in":"header","description":"AppVersion","required":false,"type":"string","default":"34"},{"name":"AppName","in":"header","description":"AppName","required":false,"type":"string","default":"SMS ONE"},{"name":"TimeZone","in":"header","description":"TimeZone","required":false,"type":"string","default":"+08"},{"name":"TimeZoneDst","in":"header","description":"TimeZoneDst","required":false,"type":"string","default":"false"},{"name":"MobileType","in":"header","description":"MobileType","required":false,"type":"string","default":"android"},{"name":"OSVersion","in":"header","description":"OSVersion","required":false,"type":"string","default":"5.1"},{"name":"SessionId","in":"header","description":"SessionId","required":false,"type":"string","default":"dev_80000_50011"},{"name":"DeviceModel","in":"header","description":"DeviceModel","required":false,"type":"string","default":"Google Nexus Test 5 - 5.1.0 - API 22 - 1080x1920"},{"name":"Latitude","in":"header","description":"Latitude","required":false,"type":"string","default":"0.0"},{"name":"Longitude","in":"header","description":"Longitude","required":false,"type":"string","default":"0.0"},{"name":"PushToken","in":"header","description":"PushToken","required":false,"type":"string","default":"c7BqcLatWXo:APA91bGPxgcKjWbbKED4ES0lYqsODXM-Z_TNfFTtFg6cDd3NC3COJMRYmp2aXR1s4CqlJ51qJahFd391ynjQ0ParZ3cikwfdYl6id6hznoZUzqd8dXR2Cir-D3pEDIX6g5KOn4XSEGkG"},{"name":"If-None-Match","in":"header","description":"If-None-Match","required":false,"type":"string","default":"EF70EDD2F75BF79E0D3E989A6753EEB0"},{"name":"DeviceToken","in":"header","description":"DeviceToken","required":false,"type":"string","default":"c7BqcLatWXo"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResultModel"}}}}},"/api/v1/asset/SearchLocationAssetManufacturer":{"get":{"tags":["Asset"],"operationId":"Asset_SearchLocationAssetManufacturer","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"query","in":"query","required":false,"type":"string"},{"name":"pageSize","in":"query","required":false,"type":"integer","format":"int32"},{"name":"clientId","in":"query","required":false,"type":"string"},{"name":"serviceCategoryId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"Token","required":false,"type":"string","default":"bearer 5OW_YWfGbVmN3aHzHOjLul8DXodSBb5t7CKQ2dBxm1aADoiMt9hecUzIDY00-13VT1Ge80fcXAgA8RIxXO8oWhDfRe_AUyFxdFYrR8UEW8q7dWCUbVx4EQIuwG0TiM8k2JoKl5rTjbltzkDbPbnhPriemUlDBC9wF6JRBnJwju-Z_tjTreBaec2PNFmsaDMFvGE_g-5EsHa-0XCPWqtDEouYNXBXd9Dm-3Rtxo0qKliarxpWgfynO-YEq9VqDVlaJPBAI4dcuxd_fGwZcC6ZTqLu6pBNuUv6xbL2XycOrD5Dua8790O0dHMgXJtrtdr83bIZEPOZgIJ3pXFGDLixgyYMdnq-VipFYCIZwSa9f5kGW4huGe9vnQsU2w7GEyulp_-9wnh1nreYbtwxbfK8uzlqQPNL_Lk0Iiwo5XlXLCrZT7tAPoYKFcsyJVTJl_25C6w3wYiBfINhssUIYxuEk0pWGFROStTRBlF7WQnYmZHEu_Gxljc7rD1ww2RFuUkW5LJEgcKQYeGUClAKtTvjs02CTZVUkNwIOcmH1MFUHaE"},{"name":"AppVersion","in":"header","description":"AppVersion","required":false,"type":"string","default":"34"},{"name":"AppName","in":"header","description":"AppName","required":false,"type":"string","default":"SMS ONE"},{"name":"TimeZone","in":"header","description":"TimeZone","required":false,"type":"string","default":"+08"},{"name":"TimeZoneDst","in":"header","description":"TimeZoneDst","required":false,"type":"string","default":"false"},{"name":"MobileType","in":"header","description":"MobileType","required":false,"type":"string","default":"android"},{"name":"OSVersion","in":"header","description":"OSVersion","required":false,"type":"string","default":"5.1"},{"name":"SessionId","in":"header","description":"SessionId","required":false,"type":"string","default":"dev_80000_50011"},{"name":"DeviceModel","in":"header","description":"DeviceModel","required":false,"type":"string","default":"Google Nexus Test 5 - 5.1.0 - API 22 - 1080x1920"},{"name":"Latitude","in":"header","description":"Latitude","required":false,"type":"string","default":"0.0"},{"name":"Longitude","in":"header","description":"Longitude","required":false,"type":"string","default":"0.0"},{"name":"PushToken","in":"header","description":"PushToken","required":false,"type":"string","default":"c7BqcLatWXo:APA91bGPxgcKjWbbKED4ES0lYqsODXM-Z_TNfFTtFg6cDd3NC3COJMRYmp2aXR1s4CqlJ51qJahFd391ynjQ0ParZ3cikwfdYl6id6hznoZUzqd8dXR2Cir-D3pEDIX6g5KOn4XSEGkG"},{"name":"If-None-Match","in":"header","description":"If-None-Match","required":false,"type":"string","default":"EF70EDD2F75BF79E0D3E989A6753EEB0"},{"name":"DeviceToken","in":"header","description":"DeviceToken","required":false,"type":"string","default":"c7BqcLatWXo"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResultModel"}}}}},"/api/v1/asset/SearchAssetProjectList":{"post":{"tags":["Asset"],"operationId":"Asset_SearchAssetProjectList","consumes":["application/json","text/json","application/x-www-form-urlencoded","application/xml","text/xml"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"query","in":"body","required":true,"schema":{"$ref":"#/definitions/AssetManagementProjectQueryModel"}},{"name":"Authorization","in":"header","description":"Token","required":false,"type":"string","default":"bearer 5OW_YWfGbVmN3aHzHOjLul8DXodSBb5t7CKQ2dBxm1aADoiMt9hecUzIDY00-13VT1Ge80fcXAgA8RIxXO8oWhDfRe_AUyFxdFYrR8UEW8q7dWCUbVx4EQIuwG0TiM8k2JoKl5rTjbltzkDbPbnhPriemUlDBC9wF6JRBnJwju-Z_tjTreBaec2PNFmsaDMFvGE_g-5EsHa-0XCPWqtDEouYNXBXd9Dm-3Rtxo0qKliarxpWgfynO-YEq9VqDVlaJPBAI4dcuxd_fGwZcC6ZTqLu6pBNuUv6xbL2XycOrD5Dua8790O0dHMgXJtrtdr83bIZEPOZgIJ3pXFGDLixgyYMdnq-VipFYCIZwSa9f5kGW4huGe9vnQsU2w7GEyulp_-9wnh1nreYbtwxbfK8uzlqQPNL_Lk0Iiwo5XlXLCrZT7tAPoYKFcsyJVTJl_25C6w3wYiBfINhssUIYxuEk0pWGFROStTRBlF7WQnYmZHEu_Gxljc7rD1ww2RFuUkW5LJEgcKQYeGUClAKtTvjs02CTZVUkNwIOcmH1MFUHaE"},{"name":"AppVersion","in":"header","description":"AppVersion","required":false,"type":"string","default":"34"},{"name":"AppName","in":"header","description":"AppName","required":false,"type":"string","default":"SMS ONE"},{"name":"TimeZone","in":"header","description":"TimeZone","required":false,"type":"string","default":"+08"},{"name":"TimeZoneDst","in":"header","description":"TimeZoneDst","required":false,"type":"string","default":"false"},{"name":"MobileType","in":"header","description":"MobileType","required":false,"type":"string","default":"android"},{"name":"OSVersion","in":"header","description":"OSVersion","required":false,"type":"string","default":"5.1"},{"name":"SessionId","in":"header","description":"SessionId","required":false,"type":"string","default":"dev_80000_50011"},{"name":"DeviceModel","in":"header","description":"DeviceModel","required":false,"type":"string","default":"Google Nexus Test 5 - 5.1.0 - API 22 - 1080x1920"},{"name":"Latitude","in":"header","description":"Latitude","required":false,"type":"string","default":"0.0"},{"name":"Longitude","in":"header","description":"Longitude","required":false,"type":"string","default":"0.0"},{"name":"PushToken","in":"header","description":"PushToken","required":false,"type":"string","default":"c7BqcLatWXo:APA91bGPxgcKjWbbKED4ES0lYqsODXM-Z_TNfFTtFg6cDd3NC3COJMRYmp2aXR1s4CqlJ51qJahFd391ynjQ0ParZ3cikwfdYl6id6hznoZUzqd8dXR2Cir-D3pEDIX6g5KOn4XSEGkG"},{"name":"If-None-Match","in":"header","description":"If-None-Match","required":false,"type":"string","default":"EF70EDD2F75BF79E0D3E989A6753EEB0"},{"name":"DeviceToken","in":"header","description":"DeviceToken","required":false,"type":"string","default":"c7BqcLatWXo"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResultModel"}}}}},"/api/v1/asset/UpdateAssetManagerStatus":{"get":{"tags":["Asset"],"operationId":"Asset_UpdateAssetManagerStatus","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"query","required":true,"type":"string"},{"name":"statusId","in":"query","required":true,"type":"integer","format":"int32"},{"name":"Authorization","in":"header","description":"Token","required":false,"type":"string","default":"bearer 5OW_YWfGbVmN3aHzHOjLul8DXodSBb5t7CKQ2dBxm1aADoiMt9hecUzIDY00-13VT1Ge80fcXAgA8RIxXO8oWhDfRe_AUyFxdFYrR8UEW8q7dWCUbVx4EQIuwG0TiM8k2JoKl5rTjbltzkDbPbnhPriemUlDBC9wF6JRBnJwju-Z_tjTreBaec2PNFmsaDMFvGE_g-5EsHa-0XCPWqtDEouYNXBXd9Dm-3Rtxo0qKliarxpWgfynO-YEq9VqDVlaJPBAI4dcuxd_fGwZcC6ZTqLu6pBNuUv6xbL2XycOrD5Dua8790O0dHMgXJtrtdr83bIZEPOZgIJ3pXFGDLixgyYMdnq-VipFYCIZwSa9f5kGW4huGe9vnQsU2w7GEyulp_-9wnh1nreYbtwxbfK8uzlqQPNL_Lk0Iiwo5XlXLCrZT7tAPoYKFcsyJVTJl_25C6w3wYiBfINhssUIYxuEk0pWGFROStTRBlF7WQnYmZHEu_Gxljc7rD1ww2RFuUkW5LJEgcKQYeGUClAKtTvjs02CTZVUkNwIOcmH1MFUHaE"},{"name":"AppVersion","in":"header","description":"AppVersion","required":false,"type":"string","default":"34"},{"name":"AppName","in":"header","description":"AppName","required":false,"type":"string","default":"SMS ONE"},{"name":"TimeZone","in":"header","description":"TimeZone","required":false,"type":"string","default":"+08"},{"name":"TimeZoneDst","in":"header","description":"TimeZoneDst","required":false,"type":"string","default":"false"},{"name":"MobileType","in":"header","description":"MobileType","required":false,"type":"string","default":"android"},{"name":"OSVersion","in":"header","description":"OSVersion","required":false,"type":"string","default":"5.1"},{"name":"SessionId","in":"header","description":"SessionId","required":false,"type":"string","default":"dev_80000_50011"},{"name":"DeviceModel","in":"header","description":"DeviceModel","required":false,"type":"string","default":"Google Nexus Test 5 - 5.1.0 - API 22 - 1080x1920"},{"name":"Latitude","in":"header","description":"Latitude","required":false,"type":"string","default":"0.0"},{"name":"Longitude","in":"header","description":"Longitude","required":false,"type":"string","default":"0.0"},{"name":"PushToken","in":"header","description":"PushToken","required":false,"type":"string","default":"c7BqcLatWXo:APA91bGPxgcKjWbbKED4ES0lYqsODXM-Z_TNfFTtFg6cDd3NC3COJMRYmp2aXR1s4CqlJ51qJahFd391ynjQ0ParZ3cikwfdYl6id6hznoZUzqd8dXR2Cir-D3pEDIX6g5KOn4XSEGkG"},{"name":"If-None-Match","in":"header","description":"If-None-Match","required":false,"type":"string","default":"EF70EDD2F75BF79E0D3E989A6753EEB0"},{"name":"DeviceToken","in":"header","description":"DeviceToken","required":false,"type":"string","default":"c7BqcLatWXo"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResultModel"}}}}},"/api/v1/asset/GetHistoryWoListByAssetId":{"get":{"tags":["Asset"],"operationId":"Asset_GetHistoryWoListByAssetId","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"assetId","in":"query","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"Token","required":false,"type":"string","default":"bearer 5OW_YWfGbVmN3aHzHOjLul8DXodSBb5t7CKQ2dBxm1aADoiMt9hecUzIDY00-13VT1Ge80fcXAgA8RIxXO8oWhDfRe_AUyFxdFYrR8UEW8q7dWCUbVx4EQIuwG0TiM8k2JoKl5rTjbltzkDbPbnhPriemUlDBC9wF6JRBnJwju-Z_tjTreBaec2PNFmsaDMFvGE_g-5EsHa-0XCPWqtDEouYNXBXd9Dm-3Rtxo0qKliarxpWgfynO-YEq9VqDVlaJPBAI4dcuxd_fGwZcC6ZTqLu6pBNuUv6xbL2XycOrD5Dua8790O0dHMgXJtrtdr83bIZEPOZgIJ3pXFGDLixgyYMdnq-VipFYCIZwSa9f5kGW4huGe9vnQsU2w7GEyulp_-9wnh1nreYbtwxbfK8uzlqQPNL_Lk0Iiwo5XlXLCrZT7tAPoYKFcsyJVTJl_25C6w3wYiBfINhssUIYxuEk0pWGFROStTRBlF7WQnYmZHEu_Gxljc7rD1ww2RFuUkW5LJEgcKQYeGUClAKtTvjs02CTZVUkNwIOcmH1MFUHaE"},{"name":"AppVersion","in":"header","description":"AppVersion","required":false,"type":"string","default":"34"},{"name":"AppName","in":"header","description":"AppName","required":false,"type":"string","default":"SMS ONE"},{"name":"TimeZone","in":"header","description":"TimeZone","required":false,"type":"string","default":"+08"},{"name":"TimeZoneDst","in":"header","description":"TimeZoneDst","required":false,"type":"string","default":"false"},{"name":"MobileType","in":"header","description":"MobileType","required":false,"type":"string","default":"android"},{"name":"OSVersion","in":"header","description":"OSVersion","required":false,"type":"string","default":"5.1"},{"name":"SessionId","in":"header","description":"SessionId","required":false,"type":"string","default":"dev_80000_50011"},{"name":"DeviceModel","in":"header","description":"DeviceModel","required":false,"type":"string","default":"Google Nexus Test 5 - 5.1.0 - API 22 - 1080x1920"},{"name":"Latitude","in":"header","description":"Latitude","required":false,"type":"string","default":"0.0"},{"name":"Longitude","in":"header","description":"Longitude","required":false,"type":"string","default":"0.0"},{"name":"PushToken","in":"header","description":"PushToken","required":false,"type":"string","default":"c7BqcLatWXo:APA91bGPxgcKjWbbKED4ES0lYqsODXM-Z_TNfFTtFg6cDd3NC3COJMRYmp2aXR1s4CqlJ51qJahFd391ynjQ0ParZ3cikwfdYl6id6hznoZUzqd8dXR2Cir-D3pEDIX6g5KOn4XSEGkG"},{"name":"If-None-Match","in":"header","description":"If-None-Match","required":false,"type":"string","default":"EF70EDD2F75BF79E0D3E989A6753EEB0"},{"name":"DeviceToken","in":"header","description":"DeviceToken","required":false,"type":"string","default":"c7BqcLatWXo"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Asset":{"post":{"tags":["Asset"],"operationId":"Asset_VerifyRequestParam","consumes":["application/json","text/json","application/x-www-form-urlencoded","application/xml","text/xml"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"param","in":"query","required":true,"type":"string"},{"name":"verifyResult","in":"body","required":true,"schema":{"$ref":"#/definitions/ApiResultModel"}},{"name":"Authorization","in":"header","description":"Token","required":false,"type":"string","default":"bearer 5OW_YWfGbVmN3aHzHOjLul8DXodSBb5t7CKQ2dBxm1aADoiMt9hecUzIDY00-13VT1Ge80fcXAgA8RIxXO8oWhDfRe_AUyFxdFYrR8UEW8q7dWCUbVx4EQIuwG0TiM8k2JoKl5rTjbltzkDbPbnhPriemUlDBC9wF6JRBnJwju-Z_tjTreBaec2PNFmsaDMFvGE_g-5EsHa-0XCPWqtDEouYNXBXd9Dm-3Rtxo0qKliarxpWgfynO-YEq9VqDVlaJPBAI4dcuxd_fGwZcC6ZTqLu6pBNuUv6xbL2XycOrD5Dua8790O0dHMgXJtrtdr83bIZEPOZgIJ3pXFGDLixgyYMdnq-VipFYCIZwSa9f5kGW4huGe9vnQsU2w7GEyulp_-9wnh1nreYbtwxbfK8uzlqQPNL_Lk0Iiwo5XlXLCrZT7tAPoYKFcsyJVTJl_25C6w3wYiBfINhssUIYxuEk0pWGFROStTRBlF7WQnYmZHEu_Gxljc7rD1ww2RFuUkW5LJEgcKQYeGUClAKtTvjs02CTZVUkNwIOcmH1MFUHaE"},{"name":"AppVersion","in":"header","description":"AppVersion","required":false,"type":"string","default":"34"},{"name":"AppName","in":"header","description":"AppName","required":false,"type":"string","default":"SMS ONE"},{"name":"TimeZone","in":"header","description":"TimeZone","required":false,"type":"string","default":"+08"},{"name":"TimeZoneDst","in":"header","description":"TimeZoneDst","required":false,"type":"string","default":"false"},{"name":"MobileType","in":"header","description":"MobileType","required":false,"type":"string","default":"android"},{"name":"OSVersion","in":"header","description":"OSVersion","required":false,"type":"string","default":"5.1"},{"name":"SessionId","in":"header","description":"SessionId","required":false,"type":"string","default":"dev_80000_50011"},{"name":"DeviceModel","in":"header","description":"DeviceModel","required":false,"type":"string","default":"Google Nexus Test 5 - 5.1.0 - API 22 - 1080x1920"},{"name":"Latitude","in":"header","description":"Latitude","required":false,"type":"string","default":"0.0"},{"name":"Longitude","in":"header","description":"Longitude","required":false,"type":"string","default":"0.0"},{"name":"PushToken","in":"header","description":"PushToken","required":false,"type":"string","default":"c7BqcLatWXo:APA91bGPxgcKjWbbKED4ES0lYqsODXM-Z_TNfFTtFg6cDd3NC3COJMRYmp2aXR1s4CqlJ51qJahFd391ynjQ0ParZ3cikwfdYl6id6hznoZUzqd8dXR2Cir-D3pEDIX6g5KOn4XSEGkG"},{"name":"If-None-Match","in":"header","description":"If-None-Match","required":false,"type":"string","default":"EF70EDD2F75BF79E0D3E989A6753EEB0"},{"name":"DeviceToken","in":"header","description":"DeviceToken","required":false,"type":"string","default":"c7BqcLatWXo"}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}}}}},"/api/v1/AssetQRCode/GetQRList":{"get":{"tags":["AssetQRCode"],"operationId":"AssetQRCode_GetQRList","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"Authorization","in":"header","description":"Token","required":false,"type":"string","default":"bearer 5OW_YWfGbVmN3aHzHOjLul8DXodSBb5t7CKQ2dBxm1aADoiMt9hecUzIDY00-13VT1Ge80fcXAgA8RIxXO8oWhDfRe_AUyFxdFYrR8UEW8q7dWCUbVx4EQIuwG0TiM8k2JoKl5rTjbltzkDbPbnhPriemUlDBC9wF6JRBnJwju-Z_tjTreBaec2PNFmsaDMFvGE_g-5EsHa-0XCPWqtDEouYNXBXd9Dm-3Rtxo0qKliarxpWgfynO-YEq9VqDVlaJPBAI4dcuxd_fGwZcC6ZTqLu6pBNuUv6xbL2XycOrD5Dua8790O0dHMgXJtrtdr83bIZEPOZgIJ3pXFGDLixgyYMdnq-VipFYCIZwSa9f5kGW4huGe9vnQsU2w7GEyulp_-9wnh1nreYbtwxbfK8uzlqQPNL_Lk0Iiwo5XlXLCrZT7tAPoYKFcsyJVTJl_25C6w3wYiBfINhssUIYxuEk0pWGFROStTRBlF7WQnYmZHEu_Gxljc7rD1ww2RFuUkW5LJEgcKQYeGUClAKtTvjs02CTZVUkNwIOcmH1MFUHaE"},{"name":"AppVersion","in":"header","description":"AppVersion","required":false,"type":"string","default":"34"},{"name":"AppName","in":"header","description":"AppName","required":false,"type":"string","default":"SMS ONE"},{"name":"TimeZone","in":"header","description":"TimeZone","required":false,"type":"string","default":"+08"},{"name":"TimeZoneDst","in":"header","description":"TimeZoneDst","required":false,"type":"string","default":"false"},{"name":"MobileType","in":"header","description":"MobileType","required":false,"type":"string","default":"android"},{"name":"OSVersion","in":"header","description":"OSVersion","required":false,"type":"string","default":"5.1"},{"name":"SessionId","in":"header","description":"SessionId","required":false,"type":"string","default":"dev_80000_50011"},{"name":"DeviceModel","in":"header","description":"DeviceModel","required":false,"type":"string","default":"Google Nexus Test 5 - 5.1.0 - API 22 - 1080x1920"},{"name":"Latitude","in":"header","description":"Latitude","required":false,"type":"string","default":"0.0"},{"name":"Longitude","in":"header","description":"Longitude","required":false,"type":"string","default":"0.0"},{"name":"PushToken","in":"header","description":"PushToken","required":false,"type":"string","default":"c7BqcLatWXo:APA91bGPxgcKjWbbKED4ES0lYqsODXM-Z_TNfFTtFg6cDd3NC3COJMRYmp2aXR1s4CqlJ51qJahFd391ynjQ0ParZ3cikwfdYl6id6hznoZUzqd8dXR2Cir-D3pEDIX6g5KOn4XSEGkG"},{"name":"If-None-Match","in":"header","description":"If-None-Match","required":false,"type":"string","default":"EF70EDD2F75BF79E0D3E989A6753EEB0"},{"name":"DeviceToken","in":"header","description":"DeviceToken","required":false,"type":"string","default":"c7BqcLatWXo"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResultModel"}}}}},"/api/AssetQRCode":{"post":{"tags":["AssetQRCode"],"operationId":"AssetQRCode_VerifyRequestParam","consumes":["application/json","text/json","application/x-www-form-urlencoded","application/xml","text/xml"],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"param","in":"query","required":true,"type":"string"},{"name":"verifyResult","in":"body","required":true,"schema":{"$ref":"#/definitions/ApiResultModel"}},{"name":"Authorization","in":"header","description":"Token","required":false,"type":"string","default":"bearer 5OW_YWfGbVmN3aHzHOjLul8DXodSBb5t7CKQ2dBxm1aADoiMt9hecUzIDY00-13VT1Ge80fcXAgA8RIxXO8oWhDfRe_AUyFxdFYrR8UEW8q7dWCUbVx4EQIuwG0TiM8k2JoKl5rTjbltzkDbPbnhPriemUlDBC9wF6JRBnJwju-Z_tjTreBaec2PNFmsaDMFvGE_g-5EsHa-0XCPWqtDEouYNXBXd9Dm-3Rtxo0qKliarxpWgfynO-YEq9VqDVlaJPBAI4dcuxd_fGwZcC6ZTqLu6pBNuUv6xbL2XycOrD5Dua8790O0dHMgXJtrtdr83bIZEPOZgIJ3pXFGDLixgyYMdnq-VipFYCIZwSa9f5kGW4huGe9vnQsU2w7GEyulp_-9wnh1nreYbtwxbfK8uzlqQPNL_Lk0Iiwo5XlXLCrZT7tAPoYKFcsyJVTJl_25C6w3wYiBfINhssUIYxuEk0pWGFROStTRBlF7WQnYmZHEu_Gxljc7rD1ww2RFuUkW5LJEgcKQYeGUClAKtTvjs02CTZVUkNwIOcmH1MFUHaE"},{"name":"AppVersion","in":"header","description":"AppVersion","required":false,"type":"string","default":"34"},{"name":"AppName","in":"header","description":"AppName","required":false,"type":"string","default":"SMS ONE"},{"name":"TimeZone","in":"header","description":"TimeZone","required":false,"type":"string","default":"+08"},{"name":"TimeZoneDst","in":"header","description":"TimeZoneDst","required":false,"type":"string","default":"false"},{"name":"MobileType","in":"header","description":"MobileType","required":false,"type":"string","default":"android"},{"name":"OSVersion","in":"header","description":"OSVersion","required":false,"type":"string","default":"5.1"},{"name":"SessionId","in":"header","description":"SessionId","required":false,"type":"string","default":"dev_80000_50011"},{"name":"DeviceModel","in":"header","description":"DeviceModel","required":false,"type":"string","default":"Google Nexus Test 5 - 5.1.0 - API 22 - 1080x1920"},{"name":"Latitude","in":"header","description":"Latitude","required":false,"type":"string","default":"0.0"},{"name":"Longitude","in":"header","description":"Longitude","required":false,"type":"string","default":"0.0"},{"name":"PushToken","in":"header","description":"PushToken","required":false,"type":"string","default":"c7BqcLatWXo:APA91bGPxgcKjWbbKED4ES0lYqsODXM-Z_TNfFTtFg6cDd3NC3COJMRYmp2aXR1s4CqlJ51qJahFd391ynjQ0ParZ3cikwfdYl6id6hznoZUzqd8dXR2Cir-D3pEDIX6g5KOn4XSEGkG"},{"name":"If-None-Match","in":"header","description":"If-None-Match","required":false,"type":"string","default":"EF70EDD2F75BF79E0D3E989A6753EEB0"},{"name":"DeviceToken","in":"header","description":"DeviceToken","required":false,"type":"string","default":"c7BqcLatWXo"}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}}}}},"/API/Extra/Attachment":{"get":{"tags":["Attachment"],"operationId":"Attachment_Attachment","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"path","in":"query","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"Token","required":false,"type":"string","default":"bearer 5OW_YWfGbVmN3aHzHOjLul8DXodSBb5t7CKQ2dBxm1aADoiMt9hecUzIDY00-13VT1Ge80fcXAgA8RIxXO8oWhDfRe_AUyFxdFYrR8UEW8q7dWCUbVx4EQIuwG0TiM8k2JoKl5rTjbltzkDbPbnhPriemUlDBC9wF6JRBnJwju-Z_tjTreBaec2PNFmsaDMFvGE_g-5EsHa-0XCPWqtDEouYNXBXd9Dm-3Rtxo0qKliarxpWgfynO-YEq9VqDVlaJPBAI4dcuxd_fGwZcC6ZTqLu6pBNuUv6xbL2XycOrD5Dua8790O0dHMgXJtrtdr83bIZEPOZgIJ3pXFGDLixgyYMdnq-VipFYCIZwSa9f5kGW4huGe9vnQsU2w7GEyulp_-9wnh1nreYbtwxbfK8uzlqQPNL_Lk0Iiwo5XlXLCrZT7tAPoYKFcsyJVTJl_25C6w3wYiBfINhssUIYxuEk0pWGFROStTRBlF7WQnYmZHEu_Gxljc7rD1ww2RFuUkW5LJEgcKQYeGUClAKtTvjs02CTZVUkNwIOcmH1MFUHaE"},{"name":"AppVersion","in":"header","description":"AppVersion","required":false,"type":"string","default":"34"},{"name":"AppName","in":"header","description":"AppName","required":false,"type":"string","default":"SMS ONE"},{"name":"TimeZone","in":"header","description":"TimeZone","required":false,"type":"string","default":"+08"},{"name":"TimeZoneDst","in":"header","description":"TimeZoneDst","required":false,"type":"string","default":"false"},{"name":"MobileType","in":"header","description":"MobileType","required":false,"type":"string","default":"android"},{"name":"OSVersion","in":"header","description":"OSVersion","required":false,"type":"string","default":"5.1"},{"name":"SessionId","in":"header","description":"SessionId","required":false,"type":"string","default":"dev_80000_50011"},{"name":"DeviceModel","in":"header","description":"DeviceModel","required":false,"type":"string","default":"Google Nexus Test 5 - 5.1.0 - API 22 - 1080x1920"},{"name":"Latitude","in":"header","description":"Latitude","required":false,"type":"string","default":"0.0"},{"name":"Longitude","in":"header","description":"Longitude","required":false,"type":"string","default":"0.0"},{"name":"PushToken","in":"header","description":"PushToken","required":false,"type":"string","default":"c7BqcLatWXo:APA91bGPxgcKjWbbKED4ES0lYqsODXM-Z_TNfFTtFg6cDd3NC3COJMRYmp2aXR1s4CqlJ51qJahFd391ynjQ0ParZ3cikwfdYl6id6hznoZUzqd8dXR2Cir-D3pEDIX6g5KOn4XSEGkG"},{"name":"If-None-Match","in":"header","description":"If-None-Match","required":false,"type":"string","default":"EF70EDD2F75BF79E0D3E989A6753EEB0"},{"name":"DeviceToken","in":"header","description":"DeviceToken","required":false,"type":"string","default":"c7BqcLatWXo"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/API/Extra/Video/Thumbnail":{"get":{"tags":["Attachment"],"operationId":"Attachment_GetVideoThumbnailPic","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"path","in":"query","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"Token","required":false,"type":"string","default":"bearer 5OW_YWfGbVmN3aHzHOjLul8DXodSBb5t7CKQ2dBxm1aADoiMt9hecUzIDY00-13VT1Ge80fcXAgA8RIxXO8oWhDfRe_AUyFxdFYrR8UEW8q7dWCUbVx4EQIuwG0TiM8k2JoKl5rTjbltzkDbPbnhPriemUlDBC9wF6JRBnJwju-Z_tjTreBaec2PNFmsaDMFvGE_g-5EsHa-0XCPWqtDEouYNXBXd9Dm-3Rtxo0qKliarxpWgfynO-YEq9VqDVlaJPBAI4dcuxd_fGwZcC6ZTqLu6pBNuUv6xbL2XycOrD5Dua8790O0dHMgXJtrtdr83bIZEPOZgIJ3pXFGDLixgyYMdnq-VipFYCIZwSa9f5kGW4huGe9vnQsU2w7GEyulp_-9wnh1nreYbtwxbfK8uzlqQPNL_Lk0Iiwo5XlXLCrZT7tAPoYKFcsyJVTJl_25C6w3wYiBfINhssUIYxuEk0pWGFROStTRBlF7WQnYmZHEu_Gxljc7rD1ww2RFuUkW5LJEgcKQYeGUClAKtTvjs02CTZVUkNwIOcmH1MFUHaE"},{"name":"AppVersion","in":"header","description":"AppVersion","required":false,"type":"string","default":"34"},{"name":"AppName","in":"header","description":"AppName","required":false,"type":"string","default":"SMS ONE"},{"name":"TimeZone","in":"header","description":"TimeZone","required":false,"type":"string","default":"+08"},{"name":"TimeZoneDst","in":"header","description":"TimeZoneDst","required":false,"type":"string","default":"false"},{"name":"MobileType","in":"header","description":"MobileType","required":false,"type":"string","default":"android"},{"name":"OSVersion","in":"header","description":"OSVersion","required":false,"type":"string","default":"5.1"},{"name":"SessionId","in":"header","description":"SessionId","required":false,"type":"string","default":"dev_80000_50011"},{"name":"DeviceModel","in":"header","description":"DeviceModel","required":false,"type":"string","default":"Google Nexus Test 5 - 5.1.0 - API 22 - 1080x1920"},{"name":"Latitude","in":"header","description":"Latitude","required":false,"type":"string","default":"0.0"},{"name":"Longitude","in":"header","description":"Longitude","required":false,"type":"string","default":"0.0"},{"name":"PushToken","in":"header","description":"PushToken","required":false,"type":"string","default":"c7BqcLatWXo:APA91bGPxgcKjWbbKED4ES0lYqsODXM-Z_TNfFTtFg6cDd3NC3COJMRYmp2aXR1s4CqlJ51qJahFd391ynjQ0ParZ3cikwfdYl6id6hznoZUzqd8dXR2Cir-D3pEDIX6g5KOn4XSEGkG"},{"name":"If-None-Match","in":"header","description":"If-None-Match","required":false,"type":"string","default":"EF70EDD2F75BF79E0D3E989A6753EEB0"},{"name":"DeviceToken","in":"header","description":"DeviceToken","required":false,"type":"string","default":"c7BqcLatWXo"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/API/Extra/Attachment/{id}":{"get":{"tags":["Attachment"],"operationId":"Attachment_AttachmentById","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"Token","required":false,"type":"string","default":"bearer 5OW_YWfGbVmN3aHzHOjLul8DXodSBb5t7CKQ2dBxm1aADoiMt9hecUzIDY00-13VT1Ge80fcXAgA8RIxXO8oWhDfRe_AUyFxdFYrR8UEW8q7dWCUbVx4EQIuwG0TiM8k2JoKl5rTjbltzkDbPbnhPriemUlDBC9wF6JRBnJwju-Z_tjTreBaec2PNFmsaDMFvGE_g-5EsHa-0XCPWqtDEouYNXBXd9Dm-3Rtxo0qKliarxpWgfynO-YEq9VqDVlaJPBAI4dcuxd_fGwZcC6ZTqLu6pBNuUv6xbL2XycOrD5Dua8790O0dHMgXJtrtdr83bIZEPOZgIJ3pXFGDLixgyYMdnq-VipFYCIZwSa9f5kGW4huGe9vnQsU2w7GEyulp_-9wnh1nreYbtwxbfK8uzlqQPNL_Lk0Iiwo5XlXLCrZT7tAPoYKFcsyJVTJl_25C6w3wYiBfINhssUIYxuEk0pWGFROStTRBlF7WQnYmZHEu_Gxljc7rD1ww2RFuUkW5LJEgcKQYeGUClAKtTvjs02CTZVUkNwIOcmH1MFUHaE"},{"name":"AppVersion","in":"header","description":"AppVersion","required":false,"type":"string","default":"34"},{"name":"AppName","in":"header","description":"AppName","required":false,"type":"string","default":"SMS ONE"},{"name":"TimeZone","in":"header","description":"TimeZone","required":false,"type":"string","default":"+08"},{"name":"TimeZoneDst","in":"header","description":"TimeZoneDst","required":false,"type":"string","default":"false"},{"name":"MobileType","in":"header","description":"MobileType","required":false,"type":"string","default":"android"},{"name":"OSVersion","in":"header","description":"OSVersion","required":false,"type":"string","default":"5.1"},{"name":"SessionId","in":"header","description":"SessionId","required":false,"type":"string","default":"dev_80000_50011"},{"name":"DeviceModel","in":"header","description":"DeviceModel","required":false,"type":"string","default":"Google Nexus Test 5 - 5.1.0 - API 22 - 1080x1920"},{"name":"Latitude","in":"header","description":"Latitude","required":false,"type":"string","default":"0.0"},{"name":"Longitude","in":"header","description":"Longitude","required":false,"type":"string","default":"0.0"},{"name":"PushToken","in":"header","description":"PushToken","required":false,"type":"string","default":"c7BqcLatWXo:APA91bGPxgcKjWbbKED4ES0lYqsODXM-Z_TNfFTtFg6cDd3NC3COJMRYmp2aXR1s4CqlJ51qJahFd391ynjQ0ParZ3cikwfdYl6id6hznoZUzqd8dXR2Cir-D3pEDIX6g5KOn4XSEGkG"},{"name":"If-None-Match","in":"header","description":"If-None-Match","required":false,"type":"string","default":"EF70EDD2F75BF79E0D3E989A6753EEB0"},{"name":"DeviceToken","in":"header","description":"DeviceToken","required":false,"type":"string","default":"c7BqcLatWXo"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/StreamContent"}}}}},"/API/Extra/Attachment/{keyword}":{"post":{"tags":["Attachment"],"operationId":"Attachment_PostAttachment","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"keyword","in":"path","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"Token","required":false,"type":"string","default":"bearer 5OW_YWfGbVmN3aHzHOjLul8DXodSBb5t7CKQ2dBxm1aADoiMt9hecUzIDY00-13VT1Ge80fcXAgA8RIxXO8oWhDfRe_AUyFxdFYrR8UEW8q7dWCUbVx4EQIuwG0TiM8k2JoKl5rTjbltzkDbPbnhPriemUlDBC9wF6JRBnJwju-Z_tjTreBaec2PNFmsaDMFvGE_g-5EsHa-0XCPWqtDEouYNXBXd9Dm-3Rtxo0qKliarxpWgfynO-YEq9VqDVlaJPBAI4dcuxd_fGwZcC6ZTqLu6pBNuUv6xbL2XycOrD5Dua8790O0dHMgXJtrtdr83bIZEPOZgIJ3pXFGDLixgyYMdnq-VipFYCIZwSa9f5kGW4huGe9vnQsU2w7GEyulp_-9wnh1nreYbtwxbfK8uzlqQPNL_Lk0Iiwo5XlXLCrZT7tAPoYKFcsyJVTJl_25C6w3wYiBfINhssUIYxuEk0pWGFROStTRBlF7WQnYmZHEu_Gxljc7rD1ww2RFuUkW5LJEgcKQYeGUClAKtTvjs02CTZVUkNwIOcmH1MFUHaE"},{"name":"AppVersion","in":"header","description":"AppVersion","required":false,"type":"string","default":"34"},{"name":"AppName","in":"header","description":"AppName","required":false,"type":"string","default":"SMS ONE"},{"name":"TimeZone","in":"header","description":"TimeZone","required":false,"type":"string","default":"+08"},{"name":"TimeZoneDst","in":"header","description":"TimeZoneDst","required":false,"type":"string","default":"false"},{"name":"MobileType","in":"header","description":"MobileType","required":false,"type":"string","default":"android"},{"name":"OSVersion","in":"header","description":"OSVersion","required":false,"type":"string","default":"5.1"},{"name":"SessionId","in":"header","description":"SessionId","required":false,"type":"string","default":"dev_80000_50011"},{"name":"DeviceModel","in":"header","description":"DeviceModel","required":false,"type":"string","default":"Google Nexus Test 5 - 5.1.0 - API 22 - 1080x1920"},{"name":"Latitude","in":"header","description":"Latitude","required":false,"type":"string","default":"0.0"},{"name":"Longitude","in":"header","description":"Longitude","required":false,"type":"string","default":"0.0"},{"name":"PushToken","in":"header","description":"PushToken","required":false,"type":"string","default":"c7BqcLatWXo:APA91bGPxgcKjWbbKED4ES0lYqsODXM-Z_TNfFTtFg6cDd3NC3COJMRYmp2aXR1s4CqlJ51qJahFd391ynjQ0ParZ3cikwfdYl6id6hznoZUzqd8dXR2Cir-D3pEDIX6g5KOn4XSEGkG"},{"name":"If-None-Match","in":"header","description":"If-None-Match","required":false,"type":"string","default":"EF70EDD2F75BF79E0D3E989A6753EEB0"},{"name":"DeviceToken","in":"header","description":"DeviceToken","required":false,"type":"string","default":"c7BqcLatWXo"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AttachmentViewModel"}}}}},"/Client/BaseData/GetBaseDataByClient":{"get":{"tags":["BaseData"],"operationId":"BaseData_GetBaseDataByClient","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"token","in":"query","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiResultModel"}}}}},"/Client/BaseData/HealthCheck":{"get":{"tags":["BaseData"],"operationId":"BaseData_HealthCheck","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[],"responses":{"200":{"description":"OK","schema":{"type":"string"}}}}},"/api/Basic":{"get":{"tags":["Basic"],"operationId":"Basic_GetRequestHeader","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"keyword","in":"query","required":true,"type":"string"},{"name":"Authorization","in":"header","description":"Token","required":false,"type":"string","default":"bearer 5OW_YWfGbVmN3aHzHOjLul8DXodSBb5t7CKQ2dBxm1aADoiMt9hecUzIDY00-13VT1Ge80fcXAgA8RIxXO8oWhDfRe_AUyFxdFYrR8UEW8q7dWCUbVx4EQIuwG0TiM8k2JoKl5rTjbltzkDbPbnhPriemUlDBC9wF6JRBnJwju-Z_tjTreBaec2PNFmsaDMFvGE_g-5EsHa-0XCPWqtDEouYNXBXd9Dm-3Rtxo0qKliarxpWgfynO-YEq9VqDVlaJPBAI4dcuxd_fGwZcC6ZTqLu6pBNuUv6xbL2XycOrD5Dua8790O0dHMgXJtrtdr83bIZEPOZgIJ3pXFGDLixgyYMdnq-VipFYCIZwSa9f5kGW4huGe9vnQsU2w7GEyulp_-9wnh1nreYbtwxbfK8uzlqQPNL_Lk0Iiwo5XlXLCrZT7tAPoYKFcsyJVTJl_25C6w3wYiBfINhssUIYxuEk0pWGFROStTRBlF7WQnYmZHEu_Gxljc7rD1ww2RFuUkW5LJEgcKQYeGUClAKtTvjs02CTZVUkNwIOcmH1MFUHaE"},{"name":"AppVersion","in":"header","description":"AppVersion","required":false,"type":"string","default":"34"},{"name":"AppName","in":"header","description":"AppName","required":false,"type":"string","default":"SMS ON
[...]
