{"swagger":"2.0","info":{"version":"v1","title":"SMS Assist Api","description":"An Api developer portal for easy integration.","termsOfService":"Some terms","contact":{"name":"SMS Assist Technology","url":"http://onestage.smsassist.com","email":"ChicagoDev@smsassist.com"}},"host":"api-onestage.smsassist.com","schemes":["http","https"],"paths":{"/api/auth/token":{"get":{"tags":["Authentication"],"summary":"Authenticates user and returns token with expiry.","operationId":"Authentication_Authenticate","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/auth/logout":{"post":{"tags":["Authentication"],"summary":"Logout and remove the identity information in the header","operationId":"Authentication_Logout","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/workorder/get_wo_count":{"get":{"tags":["WorkOrderHandlerApi"],"summary":"Get work order count","operationId":"WorkOrderHandlerApi_GetWOCount","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"ClientName","in":"query","description":"Optional, required when LocationNumber is specified","required":false,"type":"string"},{"name":"LocationNumber","in":"query","description":"Optional","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/workorder/get_wo_by_page":{"get":{"tags":["WorkOrderHandlerApi"],"summary":"Get work order by page","operationId":"WorkOrderHandlerApi_GetWOByPage","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"PageNumber","in":"query","description":"Optional, default: 1","required":false,"type":"integer","format":"int32"},{"name":"PageSize","in":"query","description":"Optional,max: 2000","required":false,"type":"integer","format":"int32"},{"name":"ClientName","in":"query","description":"Optional, required when LocationNumber is specified","required":false,"type":"string"},{"name":"LocationNumber","in":"query","description":"Optional","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}}},"definitions":{"WONoteAPIQueryModel":{"required":["wo_number"],"type":"object","properties":{"wo_number":{"type":"string"},"sms_communication":{"type":"string"},"client_communication":{"type":"string"},"note":{"type":"string"},"message_type":{"format":"int32","enum":[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24],"type":"integer"},"send_tos":{"type":"array","items":{"type":"string"}}}},"ServiceChannelEventObject":{"type":"object","properties":{"Object":{"$ref":"#/definitions/Object"},"Type":{"type":"string"},"Action":{"type":"string"},"EventType":{"type":"string"}}},"Object":{"type":"object","properties":{"Id":{"type":"string"},"Number":{"type":"string"},"PurchaseNumber":{"type":"string"},"SubscriberId":{"type":"string"},"ProviderId":{"type":"string"},"LocationId":{"type":"string"},"Status":{"$ref":"#/definitions/Status"},"Caller":{"type":"string"},"CreatedBy":{"type":"string"},"CallDate":{"type":"string"},"ReassignDate":{"type":"string"},"Priority":{"type":"string"},"Trade":{"type":"string"},"ScheduledDate":{"type":"string"},"CompletedDate":{"type":"string"},"ExpirationDate":{"type":"string"},"Description":{"type":"string"},"Category":{"type":"string"},"Nte":{"format":"double","type":"number"},"CurrencyAlphabeticalCode":{"type":"string"},"ProblemCode":{"type":"string"},"Resolucation":{"type":"string"},"AssetId":{"type":"string"},"Source":{"type":"string"},"RecallWorkOrder":{"type":"string"},"Note":{"type":"string"},"Notes":{"type":"array","items":{"$ref":"#/definitions/NotesObject"}}}},"Status":{"type":"object","properties":{"Primary":{"type":"string"},"Extended":{"type":"string"}}},"NotesObject":{"type":"object","properties":{"Id":{"type":"string"},"Number":{"type":"string"},"NoteData":{"type":"string"},"DateCreated":{"type":"string"},"ScheduledDate":{"type":"string"},"FollowUpDate":{"type":"string"},"ActionRequired":{"type":"string"},"MailedTo":{"type":"string"},"CreatedBy":{"type":"string"}}},"WOCreationApiQueryModel":{"required":["location_number","service_category","service_type","service_code","priority","wo_type"],"type":"object","properties":{"location_number":{"type":"string"},"service_category":{"type":"string"},"service_type":{"type":"string"},"service_code":{"type":"string"},"priority":{"type":"string"},"wo_type":{"type":"string"},"client_nte":{"format":"double","type":"number"},"affiliate_nte":{"format":"double","type":"number"},"source_of_wo":{"type":"string"},"reference_wo_number":{"type":"string"},"problem_description":{"type":"string"},"additional_detail":{"type":"string"},"instruction":{"type":"string"},"call_phone":{"type":"string"},"caller":{"type":"string"},"asset_serial_number":{"type":"string"},"asset_model_number":{"type":"string"},"asset_type":{"type":"string"},"asset_qr_code":{"type":"string"},"warranty_expiration":{"format":"date-time","type":"string"},"manufacturer":{"type":"string"}}},"WOPriorityUpdateApiQueryModel":{"required":["wo_number","priority"],"type":"object","properties":{"wo_number":{"type":"string"},"priority":{"type":"string"}}},"WONTEUpdateApiQueryModel":{"required":["wonumber","clientnte"],"type":"object","properties":{"wonumber":{"type":"string"},"clientnte":{"format":"double","type":"number"}}}},"securityDefinitions":{"apiKey":{"type":"apiKey","description":"API Key Authentication","name":"apiKey","in":"header"}}}